<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>项目管理系统</title>
    <style>
        body {
            padding: 10px;
        }
    </style>
</head>
<body>
<div class="layui-container">
    <form action="./save.json" class="layui-form" id="form_node">
        <div class="layui-form-item">

            <label class="layui-form-label">节点ID</label>
            <div class="layui-input-block">
                <input type="text" id="id" name="id" value="$!item.id" placeholder="创建后不能修改" class="layui-input"
                       required
                       #if($item)readonly#end
                       lay-verify="required">
                <input type="hidden" name="type" value="$!type">
            </div>
        </div>
        <div class="layui-form-item">

            <label class="layui-form-label">节点名称</label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name" value="$!item.name" placeholder="请填写节点名称"
                       class="layui-input"
                       required
                       lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">节点协议</label>
                <div class="layui-input-block">
                    <select name="protocol" lay-verify="required" lay-filter="aihao">
                        <option value="http" #if($item.protocol=="http")selected #end>http</option>
                        <option value="https" #if($item.protocol=="https")selected #end>https</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">节点状态</label>
                <div class="layui-input-block">
                    <input type="checkbox" value="true"
                        #if($item.openStatus)
                           checked
                        #end
                           name="openStatus"
                           lay-skin="switch"
                           lay-text="启用|停用">
                </div>

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">节点地址</label>
            <div class="layui-input-block">
                <input type="text" id="url" name="url" value="$!item.url"
                       placeholder="请填写节点地址,ip:port，如：(127.0.0.1:2123)或者域名" class="layui-input"
                       required
                       lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">节点账号</label>
            <div class="layui-input-block">
                <input type="text" id="loginName" name="loginName" value="$!item.loginName" placeholder="请填写节点登录账号"
                       class="layui-input" required
                       lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">节点密码</label>
            <div class="layui-input-block">
                <input type="password" id="loginPwd" name="loginPwd" value="$!item.loginPwd" placeholder="请填写节点登录密码"
                       class="layui-input"
                       required
                       lay-verify="required">
            </div>
        </div>

        <div class="layui-form-item" style="padding-left: 20%">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="submitNode" id="project_submit">提交
            </button>
            #if($item)
                <a class="layui-btn layui-btn-warm" data-id="$item.id" id="delete_node">删除</a>
            #end
        </div>
    </form>
</div>
</body>
<script type="text/javascript">


    function loadSuccess() {
        form.on('submit(submitNode)', function (data) {
            loadingAjax({
                url: data.form.action,
                data: data.field,
                success: function (data) {
                    layer.msg(data.msg);
                    if (200 == data.code) {
                        autoClose();
                    }
                }
            });
            return false;
        });

        $("#delete_node").click(function () {
            var id = $(this).attr("data-id");
            var type = $(this).attr("type");
            var msg = '确定删除节点 ' + id + '？';
            layer.confirm(msg, {
                title: '系统提示'
            }, function (index) {
                loadingAjax({
                    url: './del.json',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        layer.msg(data.msg);
                        if (200 == data.code) {
                            autoClose();
                        }
                    }
                });
            });
        });
    }

    function autoClose() {
        setTimeout(function () {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
            parent.location.reload();
        }, 2000);
    }
</script>
</html>