<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>项目管理系统</title>
    <style>
        body {
            padding: 10px;
        }
    </style>
</head>
<body>
    #if($user.isSystemUser())
    <div class="layui-row">
        <button onclick="editProject('');" class="layui-btn layui-btn-sm">创建节点</button>
    </div>
    #end
    #if($array && $array.size()>0)
    <div class="layui-collapse" style="margin: 10px;">
        #foreach($item in $array)
            <div class="layui-colla-item">
                <div class="layui-colla-title">
                    <div title="$item.id">
                        $item.name
                    </div>
                    <div class="layui-layout-right" style="padding-right: 10%;">
                        #if($item.openStatus)
                            <button op="goIn" url="$!jpomProxyPath/node/index.html?nodeId=$item.id"
                                    class="layui-btn layui-btn-sm layui-btn-normal ">
                                <i class="layui-icon   layui-icon-release"></i>
                                进入
                            </button>
                        #end
                        #if($user.isSystemUser())
                            <button op="edit" id="$item.id" class="layui-btn layui-btn-sm ">
                                <i class="layui-icon">&#xe642;</i>
                                编辑
                            </button>
                        #end
                    </div>
                </div>
                <div class="layui-colla-content layui-show">
                    #if($item.openStatus)
                        <table id="table_$item.id" lay-filter="table_$item.id"></table>
                    #else
                        未启用节点
                    #end

                </div>
            </div>
        #end
    </div>
    #else
    <h1 align="center">还没有任何节点，请先创建节点</h1>
    #end
</body>
<script type="text/javascript">
    const apiWhere = {};
    var cachePortInfo;
    var config = {
        cols: [[
            {field: 'osName', title: '系统名', width: "10%"},
            {field: 'jpomVersion', title: 'Jpom版本', width: "10%"},
            {field: 'count', title: '项目个数', width: "10%"},
            {field: 'runCount', title: '运行中个数', width: "10%"},
            {field: 'stopCount', title: '未运行个数', width: "10%"},
            {field: 'javaVirtualCount', title: 'java程序个数', width: "10%"},
        ]],
        url: "./node_status",
        loading: true,
        response: {
            statusCode: 200
        },
        done: function (data) {
        }
    };

    function loadSuccess() {
        // 点击事件
        $("button[op]").click(function (e) {
            layui.stope(e);
            var op = $(this).attr("op");
            if ("goIn" == op) {
                top.layer.msg('加载节点中..', {
                    icon: 16,
                    shade: 0.2,
                    time: 100000000
                });
                top.location.href = $(this).attr("url");
                return false;
            }
            if ("edit" == op) {
                editProject($(this).attr("id"));
                return false;
            }
            return false;
        });

        #foreach($item in $array)
            #if($item.openStatus)
                config.id = 'table_$item.id';
                config.elem = '#table_$item.id';
                config.where = {
                    nodeId: "$item.id"
                }
                tableRender(config);
            #end
        #end
    }

    function editProject(id) {
        layer.open({
            type: 2,
            title: '管理节点配置信息',
            shade: 0.8,
            area: ['60%', '80%'],
            content: 'edit.html?id=' + id
        });
    }
</script>
</html>