<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>oss</title>
    <style>
        .layui-container {
            padding-top: 20px;
        }
    </style>
</head>

<body>
<div class="layui-container">
    #if($user.isSystemUser())
        <form action="" class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">接入点</label>
                <div class="layui-input-block">
                    <input type="text" name="endpoint" placeholder="请输入接入点" required lay-verify="required"
                           value="$!item.endpoint" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">accessKeyId</label>
                <div class="layui-input-block">
                    <input type="text" name="accessKeyId" placeholder="请输入accessKeyId" required lay-verify="required"
                           value="$!item.accessKeyId" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">accessKeySecret</label>
                <div class="layui-input-block">
                    <input type="text" name="accessKeySecret" placeholder="请输入accessKeySecret" required
                           lay-verify="required" value="$!item.accessKeySecret"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">空间名称</label>
                <div class="layui-input-block">
                    <input type="text" name="bucketName" placeholder="请输入空间名称" required lay-verify="required"
                           class="layui-input" value="$!item.bucketName">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">key前缀</label>
                <div class="layui-input-block">
                    <input type="text" name="keyPrefix" placeholder="请输入key前缀" required lay-verify="required"
                           class="layui-input" value="$!item.keyPrefix">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                </div>
            </div>
        </form>
    #else
        <h1>没有管理权限</h1>
    #end

</div>
</body>
<script type="text/javascript">
    function loadSuccess() {
        form.on('submit(formDemo)', function (data) {
            loadingAjax({
                url: './alioss_submit',
                data: data.field,
                success: function (data) {
                    layer.msg(data.msg);
                    if (200 == data.code) {
                        setTimeout(function () {
                            window.location.reload()
                        }, 2000);
                    }
                }
            });
            return false;
        });
    }
</script>

</html>