<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>nginx管理</title>
    <style>
        body {
            padding: 10px 10px 0px 10px;
        }

        .layui-container {
            width: 80% !important;
        }


        .div-uploadNgx {
            display: none;
        }

        .layui-inline {
            width: 80%;
        }

        .div_hidden {
            display: none;
        }


    </style>
</head>

<body>
<div class="layui-row">
    <button id="addNgx" class="layui-btn layui-btn-sm">新增nginx配置</button>
    <button id="uploadNgx" class="layui-btn layui-btn-sm">上传nginx配置</button>
    <button id="refresh" class="layui-btn layui-btn-sm">刷新表格</button>
    <button id="certificate" class="layui-btn layui-btn-sm">证书管理</button>
</div>
<table class="layui-table" id="tab_ngx" lay-filter="tab_ngx" style="margin: 0;"></table>

<div class="layui-container div-uploadNgx" id="div-uploadNgx">
    <form action="" class="layui-form" id="form_uploadNgx" style="margin-top: 20px">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">文件路径</label>
                <div class="layui-input-block">
                    <select name="whitePath" id="whitePath">
                        #foreach($item in $nginx)
                            <option value="$item">$item</option>
                        #end
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">配置文件</label>
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" id="selectConfig">
                        <i class="layui-icon">&#xe67c;</i>选择文件
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
<script type="text/html" id="bar_ngx">
    <a href="javascript:;" class="layui-btn  layui-btn-sm layui-btn-warm" lay-event="update">编辑</a>
    <a href="javascript:;" class="layui-btn  layui-btn-sm layui-btn-danger" lay-event="delete">删除</a>
</script>


<script type="text/javascript">
    var laytpl;
    var index = 0;

    function loadSuccess() {
        var uploadConfig, hashSelectConfig;
        layui.use(['upload'], function () {
            var upload = layui.upload;
            uploadConfig = upload.render({
                elem: '#selectConfig',
                url: '/system/nginx/uploadNgx',
                multiple: false,
                exts: 'conf',
                acceptMime: '.conf',
                field: 'file',
                data: {
                    whitePath: function () {
                        return $("#whitePath").val();
                    }
                },
                auto: false,
                choose: function () {
                    hashSelectConfig = true;
                },
                before: function (obj) {
                    layer.load();
                },
                done: function (res) {
                    layer.closeAll('loading');
                    layer.msg(res.msg);
                    if (200 == res.code) {
                        layer.closeAll('page');
                        // 刷新表
                        table.reload('tab_ngx');
                    }
                },
                error: function () {
                    layer.msg("上传失败");
                }
            });
        });

        // 表格工具条事件
        table.on('tool(tab_ngx)', function (obj) {
            var data = obj.data;
            var event = obj.event;

            if ('update' === event) {
                // 修改
                updateNgx(data);
            } else if ('delete' === event) {
                // 删除
                deleteNgx(data);
            }
        });

        // 新增配置
        $('#addNgx').on('click', function () {
            var url = '/system/nginx_setting?type=add';
            tabChange({
                id: 'nginx_add',
                url: url,
                title: '新增配置',
            });
        });

        // 修改
        function updateNgx(data) {
            var url = '/system/nginx_setting?type=update&path=' + data.path + "&name=" + data.name;
            tabChange({
                id: 'nginx_' + data.path,
                url: url,
                title: 'nginx设置(' + data.name + ')',
            });
        }

        table.render({
            id: 'tab_ngx',
            elem: '#tab_ngx',
            url: '/system/nginx/list',
            height: 'full-52',
            even: true,
            cols: [[
                {field: 'name', title: '文件名'},
                {field: 'domain', title: '域名'},
                {
                    field: 'op', title: '操作', align: 'center', toolbar: '#bar_ngx', fixed: 'right'
                }
            ]],
            loading: true,
            response: {
                statusCode: 200
            }
        });

        // 删除
        function deleteNgx(data) {
            layer.confirm('确定删除配置 ' + data.name + '？', {
                title: '系统提示'
            }, function (index) {
                layer.close(index);
                $.ajax({
                    url: '/system/nginx/delete',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        path: data.path,
                        name: data.name
                    },
                    success: function (data) {
                        if (200 == data.code) {
                            layer.msg('删除成功！');
                            // 刷新项目列表
                            table.reload('tab_ngx', {height: 'full-52'});
                        } else {
                            layer.msg(data.msg);
                        }
                    },
                    error: function (err) {
                        layer.msg('删除失败！');
                    }
                });
            });
        }

        //上传配置
        $('#uploadNgx').on('click', function () {
            document.getElementById('form_uploadNgx').reset();
            layer.open({
                type: 1,
                title: '上传配置',
                content: $('#div-uploadNgx'),
                area: ['60%', '40%'],
                btnAlign: 'c',
                btn: ['提交'],
                yes: function (index, layero) {
                    var uploadPath = $("#whitePath").val();
                    if (!uploadPath || uploadPath === "") {
                        layer.msg("请选择白名单路径")
                        return;
                    }
                    if (!hashSelectConfig) {
                        layer.msg("请选择配置文件")
                        return;
                    }
                    uploadConfig.upload();
                }
            });
        });

        //证书管理
        $('#certificate').on('click', function () {
            var url = '/system/certificate';
            tabChange({
                id: 'certificate',
                url: url,
                title: '证书管理',
            });
        });

        // 刷新
        $('#refresh').on('click', function () {
            table.reload('tab_ngx');
        });
    }

</script>

</html>