<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>nginx管理</title>
    <style>
        body {
            padding: 10px 10px 0px 10px;
        }

        .layui-container {
            width: 80% !important;
        }

        .layui-inline {
            width: 80%;
        }

        .div_hidden {
            display: none;
        }


    </style>
</head>

<body>
<div class="layui-row">
    <button id="addNgx" class="layui-btn layui-btn-sm">新增nginx配置</button>
    <button onclick="reload();" class="layui-btn layui-btn-sm">刷新表格</button>
    <button id="certificate" class="layui-btn layui-btn-sm layui-btn-warm">证书管理</button>
##    <button id="reload" class="layui-btn layui-btn-sm layui-btn-danger">重启nginx</button>
</div>
<table class="layui-table" id="tab_ngx" lay-filter="tab_ngx" style="margin: 0;"></table>

</body>
<script type="text/html" id="bar_ngx">
    <a href="javascript:;" class="layui-btn  layui-btn-sm layui-btn-warm" lay-event="update">编辑</a>
    <a href="javascript:;" class="layui-btn  layui-btn-sm layui-btn-danger" lay-event="delete">删除</a>
</script>


<script type="text/javascript">
    var index = 0;

    function loadSuccess() {
        // 表格工具条事件
        table.on('tool(tab_ngx)', function (obj) {
            var data = obj.data;
            var event = obj.event;

            if ('update' === event) {
                // 修改
                updateNgx(data);
            } else if ('delete' === event) {
                // 删除
                deleteNgx(data);
            }
        });

        // 新增配置
        $('#addNgx').on('click', function () {
            var url = './system/nginx/item.html?type=add';
            tabChange({
                id: 'nginx_add',
                url: url,
                title: '新增配置',
            });
        });

        // 修改
        function updateNgx(data) {
            var url = './system/nginx/item.html?type=update&path=' + data.path + "&name=" + data.name;
            tabChange({
                id: 'nginx_' + data.path,
                url: url,
                title: 'nginx设置(' + data.name + ')',
            });
        }

        tableRender({
            id: 'tab_ngx',
            elem: '#tab_ngx',
            url: './list_data.json',
            cols: [[
                {field: 'name', title: '文件名', sort: true},
                {field: 'serverCount', title: '数量', width: "5%", sort: true},
                {field: 'server_name', title: '域名', sort: true},
                {field: 'location', title: '根location', sort: true},
                {field: 'listen', title: '监听端口', width: "10%", sort: true},
                {field: 'time', title: '最后修改时间', sort: true},
                {
                    field: 'op', title: '操作', align: 'center', toolbar: '#bar_ngx', fixed: 'right'
                }
            ]]
        });

        // 删除
        function deleteNgx(data) {
            layer.confirm('确定删除配置 ' + data.name + '？', {
                title: '系统提示'
            }, function (index) {
                layer.close(index);
                loadingAjax({
                    url: './delete',
                    data: {
                        path: data.path,
                        name: data.name
                    },
                    success: function (data) {
                        layer.msg(data.msg);
                        if (200 == data.code) {
                            table.reload('tab_ngx');
                        }
                    }
                });
            });
        }

        //证书管理
        $('#certificate').on('click', function () {
            var url = './system/certificate/list.html';
            tabChange({
                id: 'certificate',
                url: url,
                title: '证书管理',
            });
        });
    }

    function reload() {
        table.reload('tab_ngx');
    }
</script>

</html>