<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>白名单目录</title>
    <style>
        .div {
            margin-top: 20px;
        }
    </style>
</head>

<body>
<div class="layui-container div">
    <form action="" class="layui-form" id="form_user">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">白名单列表</label>
                <div class="layui-input-block">
                    <textarea name="value" placeholder="请输入内容" class="layui-textarea">$!value</textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        var $ = layui.$;
        var form = layui.form;
        var layer = layui.layer;


        form.on('submit(formDemo)', function (data) {
            $.ajax({
                url: './whitelistDirectory_submit',
                type: 'POST',
                dataType: 'json',
                data: data.field,
                success: function (data) {
                    layer.msg(data.msg);
                    if (200 == data.code) {
                        setTimeout(function () {
                            window.location.reload()
                        }, 2000);
                    }
                },
                error: function (err) {
                    layer.alert(err.msg);
                }
            });
            return false;
        });
    });
</script>

</html>