<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:include="common/head::head">
    <title>Jpom-项目管理系统</title>
    <meta name="keywords" content="Jpom,Java项目管理,Jar管理,Java管理系统,服务器项目运维"/>
    <meta name="description" content="Jpom-项目管理系统"/>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" th:title="'版本时间:'+${jpomManifest.timeStamp}+'，进程ID:'+${jpomManifest.pid}">
            Jpom项目管理系统<font style="font-size: 10px;" th:text="'('+${jpomManifest.version}+')'"></font>
        </div>
        <ul class="layui-nav layui-layout-left">

        </ul>
        <div th:replace="common/userHead::userHead"></div>
    </div>
    <div th:replace="common/indexMenus::indexMenus"></div>
</div>

</body>
</html>
