<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>初始化系统-项目管理系统</title>
</head>

<body>
<div class="layui-carousel" id="div-carousel" style="width: 100%; height: 100%; position: fixed; z-index: 0;">
    <div carousel-item>
        <div><img src="$!jpomProxyPath/static/backgrounds/1.jpg?v=$staticCacheTime" style="width: 100%;"></div>
    </div>
</div>
<div class="layui-container" style="margin-top: 150px;">
    <div class="layui-row">
        <div class="layui-col-md4 layui-col-md-offset4">
            <form class="layui-form" method="post">
                <div class="layui-form-item" style="color: #FFF; font-size: 24px;text-align: center;">
                    <span>初始化系统</span>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 0px;">
                        <input type="text" required lay-verify="required" class="layui-input" placeholder="请输入管理员用户名"
                               name="userName">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 0px;">
                        <input type="password" required lay-verify="required" class="layui-input" placeholder="请输入管理员密码"
                               name="userPwd">
                    </div>
                </div>
##                #if($whitelist)
##                    <div class="layui-form-item">
##                        <div class="layui-input-block" style="margin-left: 0px;">
##                    <textarea name="whitelistDirectory" placeholder="请输入项目存放路径白名单，回车支持输入多个路径"
##                              class="layui-textarea"></textarea>
##                        </div>
##                    </div>
##                #end
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 0px;">
                        <button class="layui-btn layui-btn-danger" lay-submit lay-filter="from_login"
                                style="width: 100%">确定
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
    #parse("./common/sha1.vm")
<script type="text/javascript">
    function loadSuccess() {
        layui.use(['carousel'], function () {
            var carousel = layui.carousel;
            carousel.render({
                elem: '#div-carousel',
                width: '100%',
                height: '100%',
                anim: 'fade',
                arrow: 'none',
                indicator: 'none'
            });
            //
            form.on('submit(from_login)', function (data) {
                if (!checkPwd(data.field.userPwd)) {
                    return false;
                }
                //  密码强度
                if (!checkPasswordStrong(data.field.userPwd)) {
                    layer.msg("系统管理员密码强度太低");
                    return false;
                }
                var sendData = formatPwd(data.field, "userPwd");
                loadingAjax({
                    url: './install_submit.json',
                    data: sendData,
                    success: function (data) {
                        layer.msg(data.msg);
                        if (200 == data.code) {
                            window.location.href = '/index';
                        }
                    }
                });
                return false;
            });
        });
    }
</script>

</html>