<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>Welcome</title>
    <style>
        body {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            padding: 10px;
        }

        .terminal {
            height: 100%;
            position: relative;
            top: 40px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            border: 1px solid #c1c1c1;
            border-radius: 5px;
            font-family: Consolas;
            padding: 5px;
            overflow: auto;
            word-break: keep-all;
            white-space: nowrap;
            font-weight: bold;
            font-size: 23px;
        }

        /*.layui-inline {*/
        /*    width: 200px;*/
        /*}*/

        .top {
            margin-top: 20px;
            width: 100%;
        }

        .echarts {
            margin: 0 auto;
            width: 90%;
            height: 300px;
        }

        #table {
            width: 100%;
        }
    </style>
    <script src="//echarts.baidu.com/dist/echarts.js?v=$staticCacheTime"></script>
</head>
<body>
首页
</body>
<script type="application/javascript">

</script>

</html>