body {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 10px;
}

.console {
    height: 100%;
    position: relative;
}

.console .terminal {
    position: absolute;
    top: 40px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    font-family: Consolas;
    padding: 5px;
    overflow: auto;
    word-break: keep-all;
    white-space: nowrap;
}

.console .status {
    display: inline-block;
    float: right;
}

.console .status .status-div {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #c1c1c1;
}

.console .status .status-run {
    background-color: #05ff2d;
}

.console .status .status-stop {
    background-color: #ff0000;
}