body {
    padding: 10px 10px 0px 10px;
}

.div-runboot {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 20px;
}

#ta_runboot {
    /*position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;*/
    resize: none;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#form_runboot {
    width: 100%;
    height: 100%;
    margin: -10px;
}