<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>项目管理系统</title>
    <style>


        body {
            padding: 10px;
        }

        .layui-form-switch {
            margin-top: 0px !important;
        }

    </style>
</head>

<body>
<div class="layui-container">
    <form action="" class="layui-form" id="form_user">
        <div class="layui-form-item">

            <label class="layui-form-label">登录名</label>
            <div class="layui-input-block">
                <input type="text" name="id" placeholder="登录名,创建后不能修改" required lay-verify="required"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" id="pwd-input-div">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" placeholder=""
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-block">
                <input type="text" name="name" placeholder="昵称" required
                       lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">授权节点</label>
            <div class="layui-input-block">
                <div class="layui-collapse">
                    #foreach($item in $nodeModels)
                        <div class="layui-colla-item">
                            <div class="layui-colla-title">
                                <div title="$item.id">
                                    $item.name
                                </div>
                                <div class="layui-layout-right" onclick="stope()" style="padding-right: 10%;">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">管理员</label>
                                        <div class="layui-input-block">
                                            <input type="checkbox" value="true" name="manage" lay-filter="manage"
                                                   lay-skin="switch"
                                                   lay-text="是|否">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">上传文件</label>
                                        <div class="layui-input-block">
                                            <input type="checkbox" value="true" name="uploadFile" lay-skin="switch"
                                                   lay-text="是|否">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label">删除文件</label>
                                        <div class="layui-input-block">
                                            <input type="checkbox" value="true" name="deleteFile" lay-skin="switch"
                                                   lay-text="是|否">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-colla-content layui-show">

                            </div>
                        </div>
                    #end
                </div>
            </div>
        </div>
        <div class="layui-form-item">

        </div>
        #if($projects && $projects.size()>0)
            <div class="layui-form-item" id="projectsDiv">
                <div class="layui-inline">
                    <label class="layui-form-label" title="能删除项目，启动停止项目">管理项目</label>
                    <div class="layui-input-block">
                        #foreach($pItem in $projects)
                            <input type="checkbox" name="project" project="$pItem.id" value="$pItem.id"
                                   title="$pItem.name">
                        #end
                    </div>
                </div>
            </div>
        #end
        <div class="layui-form-item" style="padding-left: 20%">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="submitUser" id="submitUser">提交
            </button>
        </div>
    </form>
</div>

</body>


    #parse("./common/sha1.vm")
<script type="text/javascript">
    function stope(e) {
        layui.stope(e);
    }

    function loadSuccess() {
        // 提交用户信息
        form.on('submit(submitUser)', function (data) {
            var sendData = formatPwd(data.field, "password");
            sendData.project = getManageProject();
            loadingAjax({
                url: data.form.action,
                data: sendData,
                success: function (data) {
                    layer.msg(data.msg);
                    if (200 == data.code) {
                        layer.closeAll('page');
                        // 刷新表
                        table.reload('tab_user', {});
                    }
                }
            });
            return false;
        });


    }
</script>
</html>