<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="menu">
            #foreach($mItem in $menus)
                #if($velocityCount==1)
                    #set($firstItem = $mItem)
                #end
                <li class="layui-nav-item #if($velocityCount==1) layui-this#end">
                ## 判断动态显示菜单
                    #set($showCur=true)
                    #if($mItem.dynamic && !$dynamicMenus.get($mItem.dynamic))
                        #set($showCur=false)
                    #end
                    #if($showCur)

                        #set($notRole=false)
                    ##  判断角色
                        #if($mItem.role=="ServerManager" && $user.isServerManager())
                            <a href="javascript:;" #if(!$mItem.childs)data-options=$mItem#end>
                                #if($mItem.icon)
                                    <i class="layui-icon $mItem.icon"></i>
                                #end $mItem.title
                            </a>
                        #elseif($mItem.role=="System" && $user.isSystemUser())
                        ## 系统管理员
                            <a href="javascript:;" #if(!$mItem.childs)data-options=$mItem#end>
                                #if($mItem.icon)
                                    <i class="layui-icon $mItem.icon"></i>
                                #end $mItem.title
                            </a>
                        #elseif($mItem.role=="NodeManage" && $user.isManage($node.id))
                        ## 节点管理员
                            <a href="javascript:;" #if(!$mItem.childs)data-options=$mItem#end>
                                #if($mItem.icon)
                                    <i class="layui-icon $mItem.icon"></i>
                                #end $mItem.title
                            </a>
                        #elseif(!$mItem.role)
                        ## 没有角色
                            <a href="javascript:;" #if(!$mItem.childs)data-options=$mItem#end>
                                #if($mItem.icon)
                                    <i class="layui-icon $mItem.icon"></i>
                                #end $mItem.title
                            </a>
                        #else
                        ## 没有权限
                            #set($notRole=true)
                        #end
                        #if($mItem.childs && !$notRole)
                            <dl class="layui-nav-child">
                                #foreach($mCItem in $mItem.childs)
                                    #set($showCur=true)
                                    #if($mCItem.dynamic && !$dynamicMenus.get($mCItem.dynamic))
                                        #set($showCur=false)
                                    #end
                                    #if($showCur)
                                        <dd>
                                            #if($mCItem.role=="ServerManager" && $user.isServerManager())
                                                <a href="javascript:;" data-options=$mCItem>$mCItem.title</a>
                                            #elseif($mCItem.role=="System" && $user.isSystemUser())
                                                <a href="javascript:;" data-options=$mCItem>$mCItem.title</a>
                                            #elseif($mCItem.role=="NodeManage" && $user.isManage($node.id))
                                                <a href="javascript:;" data-options=$mCItem>$mCItem.title</a>
                                            #elseif(!$mCItem.role)
                                                <a href="javascript:;" data-options=$mCItem>$mCItem.title</a>
                                            #end
                                        </dd>
                                    #end
                                #end
                            </dl>
                        #end
                    #end
                </li>
            #end
        </ul>
    </div>
</div>
<div class="layui-body" style="overflow: hidden;">
    <div class="layui-tab layui-tab-card" lay-allowClose="true" lay-filter="mainTabs">
        <ul class="layui-tab-title">

        </ul>
        <div class="layui-tab-content">
        </div>
    </div>
</div>
<script>
    asyncFn.push(function () {
        tabChange($!firstItem);

        // 左侧导航条事件
        element.on('nav(menu)', function (data) {
            var dataJSON = $(data.context).attr("data-options");
            if (!dataJSON) {
                return;
            }
            var options;
            try {
                options = JSON.parse(dataJSON);
            } catch (e) {
                options = eval('(' + dataJSON + ')');
            }
            tabChange(options);
        });
    });
</script>
