<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>oss</title>
    <style>
        body {
            padding-top: 20px;
        }
    </style>
</head>

<body>
<div class="layui-container">
    <form action="save.json" class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">模板ID</label>
            <div class="layui-input-block">
                <input type="text" name="id" placeholder="请输入模板Id" required lay-verify="required"
                       value="$!item.id" #if($item)readonly#end class="layui-input">
                <input type="hidden" name="type" value="$type">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">模板名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" placeholder="请输入模板名称" required lay-verify="required"
                       value="$!item.name" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">模板内容</label>
            <div class="layui-input-block">
                <textarea name="context" style="height: 50vh;" placeholder="请输入模板内容"
                          class="layui-textarea auto">$!item.context</textarea>
            </div>
        </div>
        #if($user.isSystemUser())
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>

                    #if($item)
                        <a class="layui-btn layui-btn-warm" data-id="$item.id" id="delete">删除</a>
                    #end
                </div>
            </div>
        #end
    </form>
</div>
</body>
<script type="text/javascript">
    function loadSuccess() {
        form.on('submit(formDemo)', function (formData) {
            loadingAjax({
                url: formData.form.action,
                data: formData.field,
                success: function (data) {
                    layer.msg(data.msg);
                    if (200 == data.code) {
                        setTimeout(function () {
                            parent.location.reload();
                        }, 2000);
                    }
                }
            });
            return false;
        });

        $("#delete").click(function () {
            var id = $(this).attr("data-id");
            var type = $(this).attr("type");
            var msg = '确定删除此脚本模板吗 ' + id + '？';
            layer.confirm(msg, {
                title: '系统提示'
            }, function (index) {
                loadingAjax({
                    url: './del.json',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        layer.msg(data.msg);
                        if (200 == data.code) {
                            autoClose();
                        }
                    }
                });
            });
        });
    }

    function autoClose() {
        setTimeout(function () {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
            parent.location.reload();
        }, 2000);
    }
</script>

</html>