<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>项目管理系统</title>
    <style>
        .div-project {
            width: 100%;
            margin: 30px 0;
        }

        .div-project .layui-inline {
            width: calc(50% - 5px);
            margin-right: 0px;
        }
    </style>
</head>

<body>
<div class="layui-container div-project" id="div-project">
    <form action="save_project" method="post" class="layui-form" id="form_project" lay-filter="form_project">
        #if(!$item)
            <div class="layui-form-item">
                <blockquote class="layui-elem-quote layui-quote-nm">
                    创建分发项目是在不同的节点新创建对应项目（项目路径为节点白名单中的值，然后所有节点都将自动配置对应的白名单）
                </blockquote>
            </div>
        #end
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>项目ID</label>
                <div class="layui-input-block">
                    <input type="text" name="id" placeholder="程序运行标志（设置后将不能修改）" required lay-verify="required"
                           class="layui-input  #if($item)layui-disabled#end" value="#if($item)$!item.id#end"
                           #if($item)readonly#end>
                    <input type="hidden" name="reqId" value="$reqId">
                    <input type="hidden" name="type" value="$type">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>项目名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" placeholder="项目名称" required lay-verify="required"
                           class="layui-input" value="#if($item)#if($item.name)$!item.name#else$!item.id#end#end">
                    <div class="layui-hide">
                        <input type="checkbox" name="edit" #if($item)checked#end>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>运行方式</label>
                <div class="layui-input-block">
                    <select name="runMode" lay-filter="runMode">
                        #foreach($itemPath in $runModes)
                            <option value="$itemPath" #if($firstData.runMode==$itemPath)selected#end>$itemPath</option>
                        #end
                    </select>
                </div>
            </div>
            <div class="layui-inline" #if($firstData)style="display: none;"#end id="mainClassDiv">
                <label class="layui-form-label">MainClass</label>
                <div class="layui-input-block">
                    <input type="text" name="mainClass" placeholder="程序运行的 main 类(jar模式运行可以不填)" class="layui-input"
                           value="#if($firstData)$!firstData.mainClass#end">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>项目路径</label>
                <div class="layui-input-block">
                    <select name="whitelistDirectory" required lay-verify="required" lay-filter="projectLib">
                        #if(!$itemWhitelistDirectory)
                            <option value="">请选择白名单</option>
                        #end
                        #foreach($itemPath in $whitelistDirectory)
                            #if($item && $itemWhitelistDirectory.startsWith($itemPath))
                                <option value="$itemPath" selected>$itemPath</option>
                                #set($hasetPath=$itemPath)
                            #else
                                <option value="$itemPath">$itemPath</option>
                            #end
                        #end
                        #if(!$whitelistDirectory || $whitelistDirectory.size()<=0)
                            <option value="">请选择白名单</option>
                        #end
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" title="$!item.log"><span class="x-red">*</span>项目Jar包</label>
                <div class="layui-input-block">
                    <input type="text" name="lib" placeholder="jar存储的文件夹" required lay-verify="required"
                           class="layui-input" value="#if($firstData)$!firstData.lib#end">
                </div>
            </div>

            <div class="layui-form-mid layui-word-aux" style="padding: 0 !important;">
                <div class="layui-input-block" style="color: red;min-height: 0px;">
                    结果：
                    <span id="projectStart">#if($hasetPath)$hasetPath#else 请选择#end</span>
                    <span id="projectEnd" style="margin-left: -4px">#if(!$firstData)请填写#else$!firstData.lib#end</span>
                    #if($firstData)
                        <span>&nbsp;&nbsp;日志路径：$!firstData.log</span>
                    #end
                </div>
            </div>
        </div>
        <div class="layui-collapse" style="display: none;" id="nodeListDiv">
        </div>
        <div class="layui-form-item" style="padding-left: 30%;margin-top: 20px;" id="appendNodeDiv">
            <a class="layui-btn layui-btn-sm layui-btn-warm" id="add_selectNode">添加节点项目
            </a>
        </div>
        #if(!$item  || $user.isProject($node.id,$!item.id))
            <div class="layui-form-item" style="padding-left: 20%;">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="submitProject" id="project_submit">提交
                </button>
                #if($item)
                    <a class="layui-btn layui-btn-warm" data-id="$item.id" id="delete_project">删除</a>
                #end
            </div>
        #end
    </form>
</div>

<div id="selectNode" style="display: none;padding-top: 20px;">
    <form action="" class="layui-form" lay-filter="form_node">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">选择节点</label>
                <div class="layui-input-block">
                    <select name="nodeId" required lay-verify="required" lay-filter="selectNode">
                        <option value="">请选择节点</option>
                        #foreach($i in $nodeModels)
                            <option value="$i.id" nodeName="$i.name">$i.name</option>
                        #end
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="submitNode">确定
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<script id="nodePar" type="text/html">
    <div class="layui-colla-item" nodeDiv="{{ d.nodeId }}">
        <div class="layui-colla-title">
            <input type="hidden" name="add_{{ d.nodeId }}" value="{{= d.nodeId }}">
            <div>
                {{ d.nodeName }}
            </div>

            <div class="layui-layout-right" style="padding-right: 10%;">
                #if($user.isServerManager())
                    <button op="del_node" class="layui-btn layui-btn-sm layui-btn-warm">
                        <i class="layui-icon">&#xe640;</i>
                        删除
                    </button>
                #end
            </div>
        </div>
        <div class="layui-colla-content  {{# if(!d.edit){  }} layui-show  {{# } }}">
            <div class="layui-form-item">
                <div class="layui-form-mid layui-word-aux" style="padding: 0 !important;">
                    <div class="layui-input-block" id="tipMsgDiv_{{ d.nodeId }}"
                         style="color: red;min-height: 0px;display: none">
                        提示：<span id="tipMsg_{{ d.nodeId }}"></span>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">WebHooks</label>
                <div class="layui-input-block">
                    <input type="text" name="{{ d.nodeId }}_token" placeholder="关闭程序时自动请求,非必填" class="layui-input"
                           value="{{= d.token }}">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">Jvm参数</label>
                    <div class="layui-input-block">
                    <textarea name="{{ d.nodeId }}_jvm" placeholder="jvm参数,非必填.如：-Xmin=512m -Xmax=512m"
                              class="layui-textarea">{{= d.jvm }}</textarea>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">args参数</label>
                    <div class="layui-input-block">
                    <textarea name="{{ d.nodeId }}_args" placeholder="Main函数args参数,非必填.如：--service.port=8080"
                              class="layui-textarea">{{= d.args }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">

    var laytpl;

    function loadSuccess() {
        var tipMsgDiv = ("#tipMsgDiv");
        // 提交项目表单
        form.on('submit(submitProject)', function (data) {
            if ($("div[nodeDiv]").length < 2) {
                layer.msg("节点分发至少需要两个项目及以上");
                return false;
            }
            loadingAjax({
                url: data.form.action,
                data: data.field,
                success: function (data) {
                    layer.msg(data.msg);
                    if (200 == data.code) {
                        closeTab();
                    }
                }
            });
            return false;
        });

        form.on('select(runMode)', function (data) {
            let val = data.value;
            if (val == "ClassPath") {
                $("#mainClassDiv").show();
            } else {
                $("#mainClassDiv").hide();
            }
        });
        #if($item.runMode=='ClassPath')
            $("#mainClassDiv").show();
        #end

        form.on('select(projectLib)', function (data) {
            let val = data.value;
            if (val === "") {
                val = "请选择";
                tipMsgDiv.hide();
                tipMsgDiv.attr("msg", "请填写项目路径")
            }
            $("#projectStart").text(val);
            if (val !== "") {
                checngeLib();
            }

        });
        $("input[name='lib']").change(function (e) {
            let val = $(this).val();
            if (val === "") {
                val = "请填写";
                tipMsgDiv.hide();
                tipMsgDiv.attr("msg", "请填写项目的jar路径")
            }
            $("#projectEnd").text(val);
            if (val !== "") {
                checngeLib();
            }
        });
        var whitelistDirectorySelect = $("select[name='whitelistDirectory']");

        function checngeLib() {
            var wVal = whitelistDirectorySelect.val();
            if (wVal == "") {
                layer.msg("请选择白名单");
                return;
            }
            var lib = wVal + $("#projectEnd").text();
            $("div[nodeDiv]").each(function () {
                var nodeId = $(this).attr("nodeDiv");
                silentAjax({
                    url: '../node/manage/judge_lib.json',
                    data: {
                        id: "#if($item)$!item.id#end",
                        nodeId: nodeId,
                        newLib: lib
                    },
                    success: function (data) {
                        if (200 == data.code) {
                            $("#tipMsgDiv_" + nodeId).hide();
                        } else {
                            $("#tipMsg_" + nodeId).text(data.msg).parent().show();
                        }
                    }
                });
            });
        }

        $("#add_selectNode").click(function () {
            layer.open({
                type: 1,
                title: '选择节点',
                content: $('#selectNode'),
                area: ['40%', '60%']
            });
        });

        layui.use(['laytpl'], function () {
            laytpl = layui.laytpl;
            //
            form.on('submit(submitNode)', function (data) {
                var nodeId = data.field.nodeId;
                if (nodeId == "") {
                    layer.msg("请选择节点");
                    return false;
                }
                //
                var selectOption = $("select[name='nodeId']").find("option:selected");
                var nodeName = selectOption.attr("nodeName");
                addNode({
                    nodeName: nodeName,
                    nodeId: nodeId
                }, selectOption);
                return false;
            });

            $("body").delegate("button[op='del_node']", "click", function (e) {
                layui.stope(e);
                var par = $(this).parent().parent().parent();
                var nodeId = par.attr("nodeDiv");
                layer.confirm('确定删除此节点项目吗【 ' + nodeId + '】？（保存后将自动删除对应节点的项目）', {
                    title: '系统提示'
                }, function (index) {
                    layer.close(index);

                    $("select[name='nodeId'] option[value='" + nodeId + "']").attr("disabled", false);
                    form.render();
                    $("#add_selectNode").show();
                    par.remove();

                    if ($("div[nodeDiv]").length <= 0) {
                        $("#nodeListDiv").hide();
                    }
                });
                return false;
            });
        });

    ## 回显节点信息

        var selectOption, viewData;
        #foreach($nodeP in $item.outGivingNodeProjectList)

            #if($nodeP.getProjectData(true))
                selectOption = $("select[name='nodeId'] option[value='$nodeP.nodeId']");
                viewData = $nodeP.getProjectData(true);
                viewData["nodeId"] = "$nodeP.nodeId";
                viewData["edit"] = true;
                addNode(viewData, selectOption)
            #else
                layer.alert("$nodeP.nodeId 节点未拉取到对应项目,不建议此次进行保存操作,以防止数据丢失");
            #end

        #end
        form.render();

        function addNode(data, selectOption) {
            var html = document.getElementById("nodePar");
            var nodeName = selectOption.attr("nodeName");
            if (!data.nodeName) {
                data.nodeName = nodeName;
            }
            laytpl(html.innerHTML).render(data, function (newHtml) {
                $("#nodeListDiv").append(newHtml).show();
                layer.close("page");
                // 改变已经选过的选项
                selectOption.attr("disabled", true);
                selectOption.attr("selected", false)
                form.render();
                element.render();
                // 检查按钮状态
                if ($("div[nodeDiv]").length >= $("select[name='nodeId']").find("option").length - 1) {
                    $("#add_selectNode").hide();
                }
            });
        }
    }

    function closeTab() {
        try {
            top.frames["outgiving"].location.reload();
        } catch (e) {
        }
        setTimeout(function () {
            var element = top.layui.element;
            var id = self.frameElement.getAttribute('id');
            element.tabDelete('mainTabs', id);
            element.tabChange('mainTabs', "tab_outgiving节点分发");
        }, 1500);
    }

</script>
</html>