<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>项目管理系统</title>
    <style>
        body {
            padding: 10px;
        }
    </style>
</head>
<body>

<div class="layui-row">
    #if($user.isServerManager())
        <button onclick="editProject('');" class="layui-btn layui-btn-sm layui-btn-normal">添加关联项目</button>
        <button onclick="editAllProject('');" class="layui-btn layui-btn-sm layui-btn-normal">创建分发项目</button>
    #end
    #if($user.isSystemUser())
        <button onclick="editWhitelist();" class="layui-btn layui-btn-sm">分发白名单</button>
    #end
</div>
    #if($array && $array.size()>0)

    <div class="layui-collapse" style="margin: 10px;" lay-accordion lay-filter="node">
        #foreach($item in $array)
            <div class="layui-colla-item">
                <div class="layui-colla-title" itemId="$item.id">
                    <div title="$item.id">
                        $item.name
                        【
                        #if($item.outGivingProject)
                            独立
                        #else
                            关联
                        #end
                        】
                    </div>
                    <div class="layui-layout-right" style="padding-right: 10%;">
                        <div class="layui-btn-group">
                            <button op="refresh" itemId="$item.id" style="display: none;"
                                    class="layui-btn layui-btn-sm">
                                <i class="layui-icon">&#xe669;</i>
                                刷新
                            </button>
                            #if($user.isServerManager())
                                <button op="add" id="$item.id" class="layui-btn layui-btn-sm">
                                    <i class="layui-icon">&#xe609;</i>
                                    分发文件
                                </button>
                                <button op="edit" outGivingProject="$item.outGivingProject" id="$item.id"
                                        class="layui-btn layui-btn-sm ">
                                    <i class="layui-icon">&#xe642;</i>
                                    编辑
                                </button>
                            #end
                        </div>
                    </div>
                </div>
                <div class="layui-colla-content">
                    <form class="layui-form" action="">
                        <table class="layui-table" id="table_$item.id">
                            <thead>
                            <tr>
                                <th>节点名称</th>
                                <th>项目名称</th>
                                <th>项目状态</th>
                                <th>分发状态</th>
                                <th>最后分发时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="tbody_$item.id">
                                #foreach($tr in $item.outGivingNodeProjectList)
                                    #if($nodeData[$tr.nodeId])
                                    <tr projectId="$tr.projectId" nodeId="$tr.nodeId">
                                        <td>
                                            <div title="$tr.nodeId">$nodeData[$tr.nodeId].name</div>
                                        </td>
                                        <td>
                                            <div title="$tr.projectId">$nodeData[$tr.nodeId].projects[$tr.projectId].name</div>
                                        </td>
                                        <td>
                                            <div title="请到控制台中管理项目">
                                                <input type="checkbox" id="status_$!tr.nodeId$!tr.projectId" disabled
                                                       name="status"
                                                       lay-skin="switch"
                                                       lay-text="运行中|未运行">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="viewMsg"
                                                 #if($tr.status!=2)style="color: red;font-weight: bold;"#end
                                                 msgId="msg_$!tr.nodeId$tr.projectId">$tr.statusMsg</div>
                                        </td>
                                        <td>
                                            $tr.lastOutGivingTime
                                        </td>
                                        <td>
                                            #if($user.isServerManager())
                                                <button op="conslone" nodeId="$tr.nodeId" projectId="$tr.projectId"
                                                        class="layui-btn layui-btn-sm layui-btn-normal">
                                                    控制台
                                                </button>
                                                <button op="file" nodeId="$tr.nodeId" projectId="$tr.projectId"
                                                        class="layui-btn layui-btn-sm">
                                                    文件管理
                                                </button>
                                            #else
                                                没有权限
                                            #end
                                        </td>
                                    </tr>
                                    #else
                                    <tr>
                                        <td colspan="6" align="center">
                                            $tr.nodeId 节点不可用或者已经暂停
                                        </td>
                                    </tr>
                                    #end
                                <script type="text/html" id="msg_$!tr.nodeId$tr.projectId">$!tr.result</script>
                                <script type="text/javascript">
                                    //
                                    asyncFn.push(function () {
                                        getProjectStatus("$tr.nodeId", "$tr.projectId");
                                    });
                                </script>
                                #end
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        #end
    </div>

    #else
    <h1 align="center">还没有任何分发项目，请先创建分发项目</h1>
    #end
</body>
<script id="whiteList" type="text/html">$!whiteList</script>
<script type="text/javascript">

    function loadSuccess() {
        // 点击事件
        $("button[op]").click(function (e) {
            layui.stope(e);
            var op = $(this).attr("op");
            if ("conslone" == op || "file" == op) {
                var nodeId = $(this).attr("nodeId");
                var projectId = $(this).attr("projectId");
                var url = "file" == op ? "/node/manage/file/list.html" : "/node/manage/console";
                url = urlUpdateParams(url, "nodeId", nodeId);
                url = urlUpdateParams(url, "id", projectId);
                var index = layer.open({
                    type: 2,
                    title: "file" == op ? '文件管理' : '控制台',
                    shade: [0.4, '#fff'],
                    maxmin: true,
                    area: ['80%', '90%'],
                    content: url
                });
                layer.full(index);
                return false;
            }
            if ("edit" == op) {
                var editId = $(this).attr("id");
                if ($(this).attr("outGivingProject") == "true") {
                    editAllProject(editId);
                } else {
                    editProject(editId);
                }
                return false;
            }
            if ("add" == op) {
                var id = $(this).attr("id");
                layer.open({
                    type: 2,
                    title: '添加分发文件',
                    shade: 0.8,
                    area: ['60%', '80%'],
                    content: 'addOutgiving.html?id=' + id
                });
                return false;
            }
            if ("refresh" == op) {
                var itemId = $(this).attr("itemId");
                $("#tbody_" + itemId).find("tr").each(function () {
                    var projectId = $(this).attr("projectId");
                    var nodeId = $(this).attr("nodeId");
                    if (projectId && nodeId) {
                        getProjectStatus(nodeId, projectId);
                    }
                })
            }
            return false;
        });

        //
        $("div[class='viewMsg']").click(function () {
            var msgId = $(this).attr("msgId");
            var html = document.getElementById(msgId).innerHTML;
            if (!html || html == "") {
                return;
            }
            layer.alert(html);
        });

        element.on('collapse(node)', function (data) {
            $("button[op='refresh']").hide();
            if (data.show) {
                var itemId = $(data.title).attr("itemId");
                $("button[itemId='" + itemId + "']").show();
            }
        });
    }

    function editProject(id) {
        layer.open({
            type: 2,
            title: '管理分发信息',
            shade: 0.8,
            area: ['80%', '80%'],
            content: 'edit.html?id=' + id
        });
    }

    function editAllProject(id) {
        tabChange({
            id: "outgivingp-" + id,
            url: './outgiving/editProject?id=' + id,
            title: id + '编辑分发项目',
        });
    }

    var whiteListVal = document.getElementById("whiteList").innerHTML;

    function editWhitelist() {
        layer.prompt({
            title: '请添加节点分发的项目白名单',
            formType: 2,
            value: whiteListVal
        }, function (text, index) {
            loadingAjax({
                url: "./whitelistDirectory_submit",
                data: {
                    data: text
                },
                success: function (data) {
                    layer.msg(data.msg);
                    if (200 == data.code) {
                        layer.close(index);
                        whiteListVal = data.data;
                    }
                }
            });
        });
    }
    ## 获取项目状态
    function getProjectStatus(nodeId, projectId) {
        silentAjax({
            url: "./getProjectStatus",
            data: {
                nodeId: nodeId,
                id: projectId
            },
            success: function (data) {
                if (200 == data.code) {
                    var pId = data.data.pId;
                    if (pId > 0) {
                        $("#status_" + nodeId + projectId)
                                .attr("checked", true)
                                .parent().attr("title", "运行中：" + pId);
                        form.render();
                    }
                }
            }
        });
    }
</script>
</html>