<!DOCTYPE html>
<html>

<head>
    <title>Jpom-项目管理系统</title>
    #parse("./common/head.vm")
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">项目管理系统</div>
        <ul class="layui-nav layui-layout-right" lay-filter="userOperation">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    $user.name
                </a>
                <dl class="layui-nav-child">
                    <dd id="updatePwd"><a href="javascript:;" op="updatePwd">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" id="li-exit">
                <a href="javascript:;">退出</a>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="menu">
                <li class="layui-nav-item layui-this">
                    <a href="javascript:;" data-options="{'id':'welcome', 'title':'首页', 'url':'/welcome'}">首页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" data-options="{'id':'manage', 'title':'项目管理', 'url':'/manage/projectInfo'}">项目管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" data-options="{'id':'user', 'title':'用户管理', 'url':'/user/list'}">用户管理</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body" style="overflow: hidden;">
        <div class="layui-tab layui-tab-card" lay-allowClose="true" lay-filter="mainTabs">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="tab_welcome">首页</li>
            </ul>
            <!-- <ul class="layui-nav custom-nav" lay-filter="tab_operation">
                <li class="layui-nav-item">
                    <a href="javascript:;">页面操作</a>
                    <dl class="layui-nav-child">
                        <dd op="refresh"><a href="javascript:;">刷新当前</a></dd>
                        <dd op="closeother"><a href="javascript:;">关闭其他</a></dd>
                        <dd op="closeall"><a href="javascript:;">关闭全部</a></dd>
                    </dl>
                </li>
            </ul> -->
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src="/welcome" frameborder="0" class="custom-iframe"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="div-updatePwd">
    <form method="POST" class="layui-form" id="form_updatePwd">
        <div class="layui-form-item">
            <div class="layui-form-block">
                <input type="password" name="oldPwd" id="oldPwd" required lay-verify="required|pass"
                       placeholder="请输入旧密码" class="layui-input" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-block">
                <input type="password" name="newPwd" id="newPwd" required lay-verify="required|pass"
                       placeholder="请输入新密码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-block">
                <input type="password" name="confirmPwd" id="confirmPwd" required lay-verify="required|pass|confirmPwd"
                       placeholder="请确认新密码" class="layui-input">
            </div>
        </div>
        <input type="hidden" lay-submit lay-filter="updatePwd" id="pwd_submit">
    </form>
</div>
</body>
<script type="text/javascript">
    layui.use(['layer', 'element', 'form'], function () {
        var $ = layui.$;
        var element = layui.element;
        var layer = layui.layer;
        var form = layui.form;

        // 左侧导航条事件
        element.on('nav(menu)', function (data) {
            var dataJSON = $(data.context).attr("data-options");
            var options;
            try {
                options = JSON.parse(dataJSON);
            } catch (e) {
                options = eval('(' + dataJSON + ')');
            }
            tabChange(options);
        });

        // 操作
        // element.on('nav(tab_operation)', function(elem) {
        // 	var op = this.getAttribute('op');

        // 	if ('refresh' == op) {
        // 		// 刷新当前页
        // 		refreshPage();
        // 	} else if ('closeother' == op) {
        // 		// 关闭其他页面
        // 		closeotherPage();
        // 	} else if ('closeall' == op) {
        // 		// 关闭全部页面
        // 		closeallPage();
        // 	}

        // });

        // 用户操作
        element.on('nav(userOperation)', function (elem) {
            var op = this.getAttribute('op');
            // 修改密码
            if ('updatePwd' == op) {
                document.getElementById('form_updatePwd').reset();
                layer.open({
                    type: 1,
                    title: '修改密码',
                    btn: ['确认'],
                    content: $('#div-updatePwd'),
                    area: '300px',
                    yes: function (index, layero) {
                        $('#pwd_submit').click();
                    },
                    cancel: function () {
                        console.log('cancel');
                    }
                });
            }
        });

        // 表单验证
        form.verify({
            pass: [/^[\S]{6,12}$/, '密码必须6-12位，且不能出现空格！'],
            confirmPwd: function (value, item) {
                if (value != $('#newPwd').val()) {
                    return '两次输入的密码不一致！'
                }
            }
        });

        // 提交修改密码表单
        form.on('submit(updatePwd)', function (data) {
            $.ajax({
                url: '/updatePwd',
                type: 'POST',
                dataType: 'json',
                data: data.field,
                success: function (data) {
                    if (200 == data.code) {
                        layer.closeAll('page');
                        layer.alert('修改成功，请重新登录！', function (index_confirm) {

                            window.location.href = '/'
                            layer.close(index_confirm);
                        });
                    } else {
                        layer.alert(data.msg);
                    }
                },
                error: function (err) {
                    layer.alert('修改失败！');
                }
            });
            return false;
        });

        // 退出系统
        $('#li-exit').click(function () {
            layer.confirm('确定退出系统？', {'title': '系统提示'}, function (index) {
                window.location.href = "/logout";
                layer.close(index);
            })
        });

        // // 刷新当前页
        // function refreshPage() {

        // }

        // // 关闭其他页面
        // function closeotherPage() {

        // }

        // // 关闭全部页面
        // function closeallPage() {

        // }
    });
</script>
</html>