<!DOCTYPE html>
<html>

<head>
    <title>Jpom-项目管理系统</title>
    #parse("./common/head.vm")
    <style>
        /* 选项卡 */
        .layui-tab {
            margin: 0;
            height: 100%;
        }

        .layui-body {
            bottom: 10px !important;
        }

        .layui-tab-title {
            /*width: calc(100% - 100px)*/
            right: 70px;
        }

        .layui-tab-content {
            position: absolute;
            padding: 0px;
            top: 40px;
            right: 0;
            bottom: 0;
            left: 0;
        }

        .layui-tab-item {
            height: 100%;
            width: 100%;
        }

        .custom-iframe {
            width: 100%;
            height: 100%;
        }

        .layui-tab-title li:first-child > i {
            display: none;
        }

        .custom-nav {
            position: absolute;
            padding: 0px;
            top: 0;
            right: 0;
            height: 42px;
            background-color: #fff !important;
            color: #000;
            border-bottom: 1px solid #e2e2e2;
            border-left: 1px solid #e2e2e2;
        }

        .custom-nav .layui-nav-item {
            line-height: 41px;
            background-color: #f2f2f2;
        }

        .custom-nav .layui-nav-item a {
            color: #000;
        }

        .custom-nav .layui-nav-item a:hover {
            color: #000;
        }

        .custom-nav .layui-nav-item .layui-nav-more {
            top: 18px;
            border-top-color: rgba(0, 0, 0, 0.7);
            border-bottom-color: rgba(0, 0, 0, 0);
        }

        .custom-nav .layui-nav-item .layui-nav-mored {
            top: 12px;
            border-top-color: rgba(0, 0, 0, 0);
            border-bottom-color: rgba(0, 0, 0, 1);
        }

        #div-updatePwd {
            padding: 15px;
            display: none;
        }
    </style>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" title="版本时间:$!jpomManifest.timeStamp，进程ID:$!jpomManifest.pid">
            Jpom项目管理系统#if($jpomManifest)<font style="font-size: 10px;">($jpomManifest.version)</font>#end
        </div>
        <ul class="layui-nav layui-layout-left">
            #if($safeMode)
                <li class="layui-nav-item" title="安全模式运行系统将有部分功能受限制，如需解除请联系系统管理员">安全模式运行中</li>
            #end
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="userOperation">
            <li class="layui-nav-item">
                <a href="javascript:;">$user.name
                    <font style="font-size: 10px;">
                        (#if($user.isSystemUser())
                        系统管理
                    #elseif($user.isManage())
                        管理员
                    #else
                        普通成员
                    #end)
                    </font>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" op="updatePwd">修改密码</a></dd>
                    <dd><a href="javascript:;" op="updateName">修改昵称</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" id="li-exit">
                <a href="javascript:;">退出</a>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="menu">
                <li class="layui-nav-item layui-this">
                    <a href="javascript:;" data-options="{'id':'welcome', 'title':'首页', 'url':'./welcome'}">首页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" data-options="{'id':'manage', 'title':'项目管理', 'url':'./manage/projectInfo'}">项目管理</a>
                </li>
                #if($user.isManage())
                    <li class="layui-nav-item">
                        <a href="javascript:;"
                           data-options="{'id':'user', 'title':'用户管理', 'url':'./user/list'}">用户管理</a>
                    </li>
                #end
                <li class="layui-nav-item">
                    <a href="javascript:;"
                       data-options="{'id':'whitelistDirectory', 'title':'白名单目录', 'url':'./system/whitelistDirectory'}">白名单目录</a>
                </li>
                #if($user.isSystemUser())
                    <li class="layui-nav-item">
                        <a href="javascript:;"
                           data-options="{'id':'alioss', 'title':'阿里云OSS', 'url':'./system/alioss'}">阿里云OSS</a>
                    </li>
                #end
                <li class="layui-nav-item">
                    <a href="javascript:;"
                       data-options="{'id':'nginx', 'title':'nginx管理', 'url':'./system/nginx/list.html'}">nginx管理</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body" style="overflow: hidden;">
        <div class="layui-tab layui-tab-card" lay-allowClose="true" lay-filter="mainTabs">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="tab_welcome">首页</li>
            </ul>
            <!-- <ul class="layui-nav custom-nav" lay-filter="tab_operation">
                <li class="layui-nav-item">
                    <a href="javascript:;">页面操作</a>
                    <dl class="layui-nav-child">
                        <dd op="refresh"><a href="javascript:;">刷新当前</a></dd>
                        <dd op="closeother"><a href="javascript:;">关闭其他</a></dd>
                        <dd op="closeall"><a href="javascript:;">关闭全部</a></dd>
                    </dl>
                </li>
            </ul> -->
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src="./welcome" frameborder="0" class="custom-iframe"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="div-updatePwd">
    <form method="POST" class="layui-form" id="form_updatePwd">
        <div class="layui-form-item">
            <div class="layui-form-block">
                <input type="password" name="oldPwd" id="oldPwd" required lay-verify="required|pass"
                       placeholder="请输入旧密码" class="layui-input" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-block">
                <input type="password" name="newPwd" id="newPwd" required lay-verify="required|pass"
                       placeholder="请输入新密码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-block">
                <input type="password" name="confirmPwd" id="confirmPwd" required lay-verify="required|pass|confirmPwd"
                       placeholder="请确认新密码" class="layui-input">
            </div>
        </div>
        <input type="hidden" lay-submit lay-filter="updatePwd" id="pwd_submit">
    </form>
</div>
</body>
    #parse("./common/sha1.vm")
<script type="text/javascript">
    function loadSuccess() {
        // 左侧导航条事件
        element.on('nav(menu)', function (data) {
            var dataJSON = $(data.context).attr("data-options");
            var options;
            try {
                options = JSON.parse(dataJSON);
            } catch (e) {
                options = eval('(' + dataJSON + ')');
            }
            tabChange(options);
        });

        // 操作
        // element.on('nav(tab_operation)', function(elem) {
        // 	var op = this.getAttribute('op');

        // 	if ('refresh' == op) {
        // 		// 刷新当前页
        // 		refreshPage();
        // 	} else if ('closeother' == op) {
        // 		// 关闭其他页面
        // 		closeotherPage();
        // 	} else if ('closeall' == op) {
        // 		// 关闭全部页面
        // 		closeallPage();
        // 	}

        // });

        // 用户操作
        element.on('nav(userOperation)', function (elem) {
            var op = this.getAttribute('op');
            // 修改密码
            if ('updatePwd' == op) {
                document.getElementById('form_updatePwd').reset();
                layer.open({
                    type: 1,
                    title: '修改密码',
                    btn: ['确认'],
                    content: $('#div-updatePwd'),
                    area: '300px',
                    yes: function (index, layero) {
                        $('#pwd_submit').click();
                    },
                    cancel: function () {
                    }
                });
            } else if ('updateName' == op) {
                layer.prompt({
                    title: '输入新的昵称',
                    formType: 0,
                    value: "$user.name"
                }, function (val, index) {
                    loadingAjax({
                        url: './user/updateName',
                        data: {
                            name: val
                        },
                        success: function (data) {
                            layer.msg(data.msg);
                            if (200 == data.code) {
                                layer.close(index);
                                setTimeout(function () {
                                    window.location.reload();
                                }, 2000);
                            }
                        }
                    });
                });
            }
        });

        // 表单验证
        form.verify({
            pass: [/^[\S]{6,12}$/, '密码必须6-12位，且不能出现空格！'],
            confirmPwd: function (value, item) {
                if (value != $('#newPwd').val()) {
                    return '两次输入的密码不一致！'
                }
            }
        });

        // 提交修改密码表单
        form.on('submit(updatePwd)', function (data) {
            if (!checkPwd(data.field.oldPwd)) {
                return;
            }
            if (!checkPwd(data.field.confirmPwd)) {
                return;
            }
        ##  密码强度
            #if($user.isSystemUser())
                if (!checkPasswordStrong(data.field.confirmPwd)) {
                    layer.msg("系统管理员密码强度太低");
                    return false;
                }
            #end
            var sendData = formatPwd(data.field, "oldPwd");
            sendData = formatPwd(data.field, "newPwd");
            sendData = formatPwd(data.field, "confirmPwd")
            loadingAjax({
                url: './user/updatePwd',
                data: data.field,
                success: function (data) {
                    layer.msg(data.msg);
                    if (200 == data.code) {
                        layer.closeAll('page');
                        setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                }
            });
            return false;
        });

        // 退出系统
        $('#li-exit').click(function () {
            layer.confirm('确定退出系统？', {
                'title': '系统提示'
            }, function (index) {
                window.location.href = "./logout";
                layer.close(index);
            })
        });

        // // 刷新当前页
        // function refreshPage() {
        //
        // }
        //
        // // 关闭其他页面
        // function closeotherPage() {
        //
        // }
        //
        // // 关闭全部页面
        // function closeallPage() {
        //
        // }
    }
</script>
</html>