<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>Jpom-项目管理系统</title>
    <style>
        .auto {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
<div class="layui-carousel auto" id="div-carousel" style=" position: fixed; z-index: 0;">
    <div carousel-item>
        <div><img src="/static/backgrounds/1.jpg" class="auto"></div>
        <div><img src="/static/backgrounds/2.jpg" class="auto"></div>
        <div><img src="/static/backgrounds/3.jpg" class="auto"></div>
    </div>
</div>
<div class="layui-container" style="margin-top: 150px;">
    <div class="layui-row">
        <div class="layui-col-md4 layui-col-md-offset4">
            <form class="layui-form" method="post">
                <div class="layui-form-item" style="color: #FFF; font-size: 24px;text-align: center;">
                    <span>项目管理系统</span>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 0px;">
                        <input type="text" required lay-verify="required" class="layui-input" placeholder="请输入用户名"
                               name="userName">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 0px;">
                        <input type="password" required lay-verify="required" class="layui-input" placeholder="请输入密码"
                               name="userPwd">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 0px;">
                        <button class="layui-btn layui-btn-danger" lay-submit lay-filter="from_login"
                                style="width: 100%">登录
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    layui.use(['form', 'carousel', 'layer'], function () {
        var $ = layui.$;
        var form = layui.form;
        var carousel = layui.carousel;
        var layer = layui.layer;

        //判断是否在iframe中, 如果是，刷新父页面
        if (self != top) {
            parent.window.location.replace(window.location.href);
        }

        carousel.render({
            elem: '#div-carousel',
            width: '100%',
            height: '100%',
            anim: 'fade',
            arrow: 'none',
            indicator: 'none'
        });

        form.on('submit(from_login)', function (data) {
            $.ajax({
                url: '/userLogin',
                type: 'POST',
                dataType: 'json',
                data: data.field,
                success: function (data) {
                    if (200 == data.code) {
                        window.location.href = '/index';
                    } else {
                        layer.msg(data.msg);
                    }
                },
                error: function (err) {
                    layer.alert(err.msg);
                }
            });
            return false;
        });
    });
</script>

</html>