<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>Welcome</title>
    <style>
        body {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            padding: 10px;
        }

        .terminal {
            height: 100%;
            position: relative;
            top: 40px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            border: 1px solid #c1c1c1;
            border-radius: 5px;
            font-family: Consolas;
            padding: 5px;
            overflow: auto;
            word-break: keep-all;
            white-space: nowrap;
            font-weight: bold;
            font-size: 23px;
        }

        /*.layui-inline {*/
        /*    width: 200px;*/
        /*}*/

        .top {
            margin-top: 20px;
            width: 100%;
        }

        .echarts {
            margin: 0 auto;
            width: 90%;
            height: 300px;
        }

        #table {
            width: 100%;
        }
    </style>
    <script src="//echarts.baidu.com/dist/echarts.js?v=$staticCacheTime"></script>
</head>
<body>
<form action="" class="layui-form" id="form">
    <div class="layui-inline">
        <label class="layui-form-label">自动刷新</label>
        <div class="layui-input-block">
            <input type="checkbox" lay-filter="filter" id="monitor" lay-skin="switch" lay-text="开启|关闭">
        </div>
    </div>
</form>
##<div class="layui-container">
##    <div class="terminal"></div>
##</div>
<div class="top">
    <div class="echarts" id="echarts"></div>
</div>

<table class="layui-table" id="tab_monitor" lay-filter="tab_monitor"></table>
</body>
<script type="application/javascript">

    function loadSuccess() {
        var ws, myEcharts;
        loadData();

        function loadData() {
            var top = layui.data('top');
            var openTop = false;
            if (top) {
                openTop = top.openTop;
            }
            //加载进程信息
            loadProcessList();
            if (openTop) {
                $("#monitor").attr("checked", true);
                linkSocket(openTop);
            } else {
                $("#monitor").attr("checked", false);
                loadFirstEcharts();
            }
            form.render();
        }

        var config = {
            id: 'tab_monitor',
            elem: '#tab_monitor',
            // height: 'full-52',
            even: true,
            cols: [[
                {field: 'pid', title: '进程id', sort: true, width: '6%'},
                {field: 'COMMAND', title: '进程名称'},
                {field: 'port', title: '端口', sort: true, width: '6%'},
                {field: 'USER', title: '所有者', width: '8%'},
                {field: 'RES', title: '物理内存', width: '8%', sort: true},
                {field: 'S', title: '进程状态', width: '8%', sort: true},
                {field: 'CPU', title: '占用CPU', width: '8%', sort: true},
                {field: 'MEM', title: '物理内存', width: '8%', sort: true},
                {field: 'TIME', title: '时间总计', sort: true},
                {field: 'PR', title: '优先级', width: '6%', sort: true},
                {field: 'NI', title: 'nice值', width: '6%', sort: true},
                {field: 'VIRT', title: '虚拟内存', width: '8%', sort: true},
                {field: 'SHR', title: '共享内存', width: '8%', sort: true},
            ]],
            loading: true,
            method: 'POST',
            response: {
                statusCode: 200
            },
            done: function (data) {
            }
        };
        table.render(config);

        function loadFirstEcharts() {
            $.ajax({
                url: './getTop',
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    if (200 == data.code) {
                        if (data.data) {
                            var top = JSON.parse(data.data);
                            loadEcharts(top);
                        }
                    } else {
                        layer.alert(data.msg);
                    }
                },
                error: function (err) {
                    layer.alert("监控信息异常！");
                }
            });
        }

        function loadProcessList() {
            $.ajax({
                url: './processList',
                type: 'POST',
                dataType: 'json',
                async: true,
                success: function (data) {
                    if (200 == data.code) {
                        if (data.data) {
                            config.data = data.data;
                            table.render(config);
                        }
                    } else {
                        layer.alert(data.msg);
                    }
                },
                error: function (err) {
                    layer.alert("监控信息异常！");
                }
            });
        }

        function linkSocket(status) {
            if (!ws) {
                ws = new WebSocket(getSocketHost() + "/console/$userInfo/system");
            }
            if (status) {
                if (ws.readyState != 1 && ws.readyState != 0) {
                    ws = new WebSocket(getSocketHost() + "/console/$userInfo/system");
                }
                ws.onopen = function () {
                    ws.send('{"op": "top", "projectInfo":{}}');
                };
                ws.onmessage = function (data) {
                    try {
                        if (data.data) {
                            var top = JSON.parse(data.data);
                            if (top.top) {
                                loadEcharts(top);
                            }
                            if (top.processList) {
                                var processList = top.processList;
                                config.data = processList;
                                table.render(config);
                            }
                        }
                    } catch (e) {
                        return;
                    }
                };
                ws.onerror = function (ev) {
                };
            } else {
                ws.close();
            }
        }

        form.on('switch(filter)', function (data) {
            var check = data.elem.checked;
            layui.data('top', {
                key: 'openTop',
                value: check
            });
            if ('WebSocket' in window) {
                linkSocket(check);
            }
        })

        //加载病状图
        function loadEcharts(top) {
            if (!top) {
                return;
            }
            var cpu = top.cpu;
            var value = [];
            if (cpu) {
                info = {
                    name: 'cpu',
                    type: 'pie',
                    center: ['18%', '50%'],
                    radius: ['40%', '70%'],
                    data: cpu
                }
                value.push(info);
            }
            var memory = top.memory;
            if (memory) {
                info = {
                    name: '内存',
                    type: 'pie',
                    center: ['48%', '50%'],
                    radius: ['40%', '70%'],
                    data: memory
                }
                value.push(info);
            }
            var disk = top.disk;
            if (disk) {
                info = {
                    name: '磁盘',
                    type: 'pie',
                    center: ['78%', '50%'],
                    radius: ['40%', '70%'],
                    data: disk
                }
                value.push(info);
            }
            var option = {
                tooltip: {
                    trigger: 'item',
                    formatter: function (params, ticket, callback) {
                        var value = params.value;
                        var type = params.data.type;
                        var suffix = "";
                        if ("cpu" != type) {
                            suffix = " KB";
                            if (value > 1024) {
                                value = value / 1024;
                                suffix = " MB";
                            }
                            if (value > 1024) {
                                value = value / 1024;
                                suffix = " GB";
                            }
                            value = Math.round(value * 100) / 100;
                        } else {
                            value = Math.round(value * 10000) / 10000;
                        }
                        return params.seriesName + '<br/>' + params.name + " : " + value + suffix + "(" + params.percent + "%)";
                    }
                },
                series: value
            };
            if (!myEcharts) {
                myEcharts = echarts.init(document.getElementById('echarts'));
            }
            myEcharts.setOption(option);
        }

    }
</script>

</html>