<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>项目管理系统</title>
    <style>
        .layui-form-label {
            width: 100px;
        }

        body {
            padding: 10px 10px 0px 10px;
        }

        .layui-container {
            width: 80% !important;
        }

        .div-user {
            display: none;
        }

        .layui-input-block {
            margin-left: 135px;
        }
    </style>
</head>

<body>
<div class="layui-row">
    <button id="addProject" class="layui-btn layui-btn-sm">新增用户</button>
    <button id="refresh" class="layui-btn layui-btn-sm">刷新表格</button>
</div>
<table class="layui-table" id="tab_user" lay-filter="tab_user" style="margin: 0;"></table>
<div class="layui-container div-user" id="div-user">
    <form action="" class="layui-form" id="form_user" style="margin-top: 20px">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">登录名</label>
                <div class="layui-input-block">
                    <input type="text" name="id" placeholder="登录名,创建后不能修改" required lay-verify="required"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input type="password" name="password" placeholder=""
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">昵称</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" placeholder="昵称" required
                               lay-verify="required" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">是否是管理员</label>
                <div class="layui-input-block">
                    <input type="checkbox" value="true" name="manage" lay-skin="switch" lay-text="是|否">
                </div>
            </div>
        </div>
        #if($projects && $projects.size()>0)
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">管理项目</label>
                    <div class="layui-input-block">
                        #foreach($pItem in $projects)
                            <input type="checkbox" name="project" project="$pItem.id" value="$pItem.id"
                                   title="$pItem.name">
                        #end
                    </div>
                </div>
            </div>
        #end

        <input type="hidden" lay-submit lay-filter="submitUser" id="user_submit">
    </form>
</div>

</body>

<script type="text/html" id="bar_projects">
    <a href="javascript:;" class="layui-btn  layui-btn-sm layui-btn-warm" lay-event="update">编辑</a>
    <a href="javascript:;" class="layui-btn  layui-btn-sm layui-btn-danger" lay-event="delete">删除</a>
</script>
<script type="text/html" id="manager_status">
    <input type="checkbox" id="" disabled name="status" {{# if(d.manage){ }} checked {{# } }} lay-skin="switch"
           lay-text="是|否">
</script>

<script type="text/javascript">
    function loadSuccess() {

        table.render({
            id: 'tab_user',
            elem: '#tab_user',
            url: '/user/getUserList',
            // height: 'full-52',
            even: true,
            cols: [[
                {field: 'id', title: 'id'},
                {field: 'name', title: '昵称'},
                {field: 'manage', templet: "#manager_status", title: '是否是管理员'},
                {field: 'parent', title: '创建人'},
                {field: 'op', title: '操作', align: 'center', toolbar: '#bar_projects', fixed: 'right'}
            ]],
            loading: true,
            response: {
                statusCode: 200
            }
        });

        // 编辑用户信息
        function updateApplication(data) {
            // 重置表单
            document.getElementById('form_user').reset();
            $('#form_user [name="id"]').attr('readonly', true).addClass('layui-disabled');
            $('#form_user [name="project"]').prop('checked', false);
            // 设置表单值
            for (var key in data) {
                if ("manage" === key) {
                    $('#form_user [name="manage"]').prop('checked', data[key]);
                } else if ('projects' === key) {
                    const projects = data[key];
                    if (projects) {
                        for (var i = 0; i < projects.length; i++) {
                            $('input[project="' + projects[i] + '"]').prop('checked', true);
                        }
                    }
                } else {
                    $('#form_user [name="' + key + '"]').val(data[key]);
                }
            }
            // 弹出
            layer.open({
                type: 1,
                title: '编辑',
                content: $('#div-user'),
                area: ['60%', '60%'],
                btnAlign: 'c',
                btn: ['提交'],
                yes: function (index, layero) {
                    $('#form_user').attr('action', '/user/updateUser');
                    $('#user_submit').click();
                }
            });
        }

        // '添加用户'点击事件
        $('#addProject').on('click', function () {
            // 重置表单
            document.getElementById('form_user').reset();
            $('#form_user [name="id"]').attr('readonly', false).removeClass('layui-disabled');
            $('#form_user [name="manage"]').prop('checked', false);
            $('#form_user [name="project"]').prop('checked', false);
            // form.render();
            // 弹出
            layer.open({
                type: 1,
                title: '新增用户',
                content: $('#div-user'),
                area: ['60%', '60%'],
                btnAlign: 'c',
                btn: ['提交'],
                yes: function (index, layero) {
                    $('#form_user').attr('action', '/user/addUser');
                    $('#user_submit').click();
                }
            });
        });

        // '刷新表格'点击事件
        $('#refresh').on('click', function () {
            table.reload('tab_user', {
                // height: 'full-52'
            });
        });


        // 提交用户信息
        form.on('submit(submitUser)', function (data) {
            // var check_val = getCheckedBox();
            var field = data.field;
            // field.project = check_val.join(",");
            $.ajax({
                url: data.form.action,
                type: 'POST',
                dataType: 'json',
                data: field,
                success: function (data) {
                    if (200 == data.code) {
                        layer.closeAll('page');

                        // 刷新表
                        table.reload('tab_user', {height: 'full-52'});
                    } else {
                        layer.msg(data.msg);
                    }
                },
                error: function (err) {
                    layer.msg('操作失败！');
                }
            });
            return false;
        });


        // 表格工具条事件
        table.on('tool(tab_user)', function (obj) {
            var data = obj.data;
            var event = obj.event;

            if ('update' === event) {
                // 修改
                updateApplication(data);
            } else if ('delete' === event) {
                // 删除
                deleteApplication(data);
            }
        });


        // 删除用户
        function deleteApplication(data) {
            layer.confirm('确定删除用户 ' + data.id + '？', {
                title: '系统提示'
            }, function (index) {
                layer.close(index);
                $.ajax({
                    url: '/user/deleteUser',
                    type: 'POST',
                    dataType: 'json',
                    data: {id: data.id},
                    success: function (data) {
                        if (200 == data.code) {
                            layer.msg('删除成功！');
                            // 刷新项目列表
                            table.reload('tab_user', {
                                // height: 'full-52'
                            });
                        } else {
                            layer.msg(data.msg);
                        }
                    },
                    error: function (err) {
                        layer.msg('删除失败！');
                    }
                });
            });
        }
    }
</script>
</html>