<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>项目管理系统</title>
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>

<body>
<div class="layui-form">
    <table class="layui-table">
        <thead>
        <tr>
            <th>序号</th>
            <th>文件名</th>
            <th>修改时间</th>
            <th>文件大小</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            #foreach($item in $array)
            <tr>
                <td>$velocityCount</td>
                <td>$item.key</td>
                <td>$item.time</td>
                <td>$item.size</td>
                <td>
                    <button name="install" data-name="$item.shortKey" data-key="$item.key" data-id="$id"
                            class="layui-btn layui-btn-danger layui-btn-sm">安装
                    </button>
                    <button op="a" href="build_download?key=$item.key&id=$id"
                            class="layui-btn layui-btn-warm layui-btn-sm">下载
                    </button>
                </td>
            </tr>
            #end
            #if(!$array)
            <tr>
                <td colspan="5">没有相关信息</td>
            </tr>
            #end
        </tbody>
    </table>
</div>
</body>
<script type="text/javascript">
    function loadSuccess() {
        $("button[name='install']").click(function () {
            var that = $(this);
            var name = that.attr("data-name");
            layer.confirm('您确定要安装【' + name + '】,安装后会自动重启程序？', {
                btn: ['确定', '不确定'] //按钮
            }, function (index) {
                layer.close(index);
                var key = that.attr("data-key");
                var id = that.attr("data-id");
                loadingAjax({
                    url: './build_install',
                    data: {
                        id: id, key: key
                    },
                    success: function (data) {
                        layer.msg(data.msg);
                        if (200 == data.code) {
                            setTimeout(function () {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                                // 刷新项目列表
                                parent.reloadTable();
                            }, 2000);
                        }
                    }
                });
            }, function () {

            });
        });
    }
</script>
</html>