<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>logBack</title>
    <style>
        body {
            padding: 10px;
        }
    </style>
</head>

<body>
<div class="layui-form">
    <table class="layui-table">
        <tbody>
        <tr>
            <td>控制台日志路径</td>
            <td>$!data.logPath</td>
        </tr>
        <tr>
            <td>控制台日志备份路径</td>
            <td>$!data.logBackPath</td>
        </tr>
        </tbody>
    </table>
    <table class="layui-table">
        <thead>
        <tr>
            <th>序号</th>
            <th>文件名</th>
            <th>修改时间</th>
            <th>文件大小</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            #if($data.array && $data.array.size()>0)
                #foreach($item in $data.array)
                <tr>
                    <td>$item.index</td>
                    <td>$item.filename</td>
                    <td>$item.modifytime</td>
                    <td>$item.filesize</td>
                    <td>
                        <button name="download" href="logBack_download?key=$item.filename&id=$data.id"
                                class="layui-btn layui-btn-warm layui-btn-sm">下载
                        </button>
                        <button name="delete" data-name="$item.filename" data-id="$data.id"
                                class="layui-btn layui-btn-danger layui-btn-sm">删除
                        </button>
                    </td>
                </tr>
                #end
            #else
            <tr>
                <td colspan="5">没有相关信息</td>
            </tr>
            #end
        </tbody>
    </table>
</div>
</body>
<script type="text/javascript">
    function loadSuccess() {
        $("button[name='delete']").click(function () {
            var that = $(this);
            var name = that.attr("data-name");
            layer.confirm('您确定要删除【' + name + '】？', {
                btn: ['确定', '不确定'] //按钮
            }, function (index) {
                layer.close(index);
                var id = that.attr("data-id");
                loadingAjax({
                    url: './logBack_delete',
                    data: {
                        id: id,
                        name: name
                    },
                    success: function (data) {
                        layer.msg(data.msg);
                        if (200 == data.code) {
                            setTimeout(function () {
                                window.location.reload();
                            }, 2000);
                        }
                    }
                });
            }, function () {

            });
        });

        $("button[name='download']").click(function () {
            var href = $(this).attr("href");
            location.href = appendNodeId(href);
        });
    }
</script>
</html>