<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="zh">
<head>
    <th:block th:include="common/head::head"/>
    <style type="text/css">
        body {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            padding: 10px;
        }

        .echarts {
            margin: 20px auto;
            width: 94%;
            height: 400px;
        }
    </style>
    <script th:src="@{${session.jpomProxyPath}+'/static/js/echarts.min.js?v='+${session.staticCacheTime}}"></script>
</head>

<body>

<div class="echarts" id="echarts"></div>
<table class="layui-table" id="tab_monitor" lay-filter="tab_monitor" style="margin-top:10px"></table>
</body>
<script type="application/javascript">
    var ws, myEcharts;
    var col = [{field: 'pid', title: '进程id', sort: true, width: '6%'},
        {field: 'command', title: '进程名称'},
        {field: 'port', title: '端口', sort: true, width: '6%'},
        {field: 'user', title: '所有者', width: '8%', sort: true},
        {field: 'jpomName', title: '项目名称', width: '8%', sort: true},
        {field: 'res', title: '物理内存', width: '8%', sort: true},
        {field: 'status', title: '进程状态', width: '8%', sort: true},
        {field: 'cpu', title: '占用CPU', width: '8%', sort: true},
        {field: 'mem', title: '物理内存', width: '8%', sort: true},
        {field: 'time', title: '时间总计', sort: true},
        {field: 'pr', title: '优先级', width: '6%', sort: true},
        // {field: 'NI', title: 'nice值', width: '6%', sort: true},
        {field: 'virt', title: '虚拟内存', width: '8%', sort: true},
        {field: 'shr', title: '共享内存', width: '8%', sort: true}];
    var config = {
        id: 'tab_monitor',
        elem: '#tab_monitor',
        cols: [col],
        done: function (data) {
        }
    };

    function loadSuccess() {
        //
        loadTopData();
        //加载进程信息
        loadProcessList();
        //
        tableRender(config);
        linkSocket(true);

        //加载病状图
        function loadEcharts(xAxis, series) {
            if (!series) {
                return;
            }
            let option = {
                title: {
                    text: '系统监控'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['cpu占用', '内存占用', '磁盘占用'],
                    right: '1%'
                },
                grid: {
                    left: '1%',
                    right: '2%',
                    bottom: '1%',
                    containLabel: true
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: xAxis
                },
                calculable: true,
                yAxis: {
                    type: 'value',
                    axisLabel: {
                        //设置y轴数值为%
                        formatter: '{value} %'
                    },
                    max: 100
                },
                series: series
            };
            if (!myEcharts) {
                myEcharts = echarts.init(document.getElementById('echarts'));
            }
            myEcharts.setOption(option);
        }

        function linkSocket(status) {
            if (!('WebSocket' in window)) {
                layer.msg("不支持WebSocket");
                return;
            }
            var url = getSocketHost() + "/console?userId=[[${session.user.getUserMd5Key()}]]&projectId=system&nodeId=[[${node.id}]]&type=console";
            if (!ws) {
                ws = new WebSocket(url);
            }
            if (status) {
                if (ws.readyState !== 1 && ws.readyState !== 0) {
                    ws = new WebSocket(url);
                }
                ws.onopen = function () {
                    ws.send('{"op": "top", "projectInfo":{}}');
                };
                ws.onmessage = function (data) {
                    try {
                        if (data.data) {
                            var top = JSON.parse(data.data);
                            if (top.top) {
                                loadTopData(top);
                            }
                            if (top.processList) {
                                config.data = top.processList;
                                tableRender(config);
                            }
                        }
                    } catch (e) {
                        return;
                    }
                };
                ws.onerror = function (ev) {
                    console.log(ev);
                    layer.msg("socket 异常");
                }
            } else {
                ws.close();
            }
        }

        //保存监控数据
        function loadTopData(topData) {
            //默认刻度数量
            let count = 24;
            let dataTop = layui.data('top_[[${node.id}]]');
            let top = [];
            if (dataTop && dataTop.top) {
                top = dataTop.top;
            }
            if (topData) {
                top.push(topData);
            }
            let array = [];
            let xAxis = [];
            let cpuItem = {
                name: 'cpu占用',
                type: 'line',
                data: [0],
                //设置折线为曲线
                smooth: true
            };
            let diskItem = {
                name: '磁盘占用',
                type: 'line',
                data: [0],
                smooth: true
            };
            let memoryItem = {
                name: '内存占用',
                type: 'line',
                data: [0],
                smooth: true
            };
            let topLen = top.length;
            for (let i = topLen - 1; i >= 0; i--) {
                let item = top[i];
                let len = array.length;
                if (len >= count) {
                    break;
                } else if (len > 0) {
                    let nextItem = array[0];
                    if (nextItem.day !== item.day || nextItem.time !== getNextMinute(item.hour, item.minute, item.second)) {
                        break;
                    }
                }
                if (i === topLen - 1) {
                    //删除默认0的数据
                    cpuItem.data.splice(0, 1);
                    diskItem.data.splice(0, 1);
                    memoryItem.data.splice(0, 1);
                }
                array.splice(0, 0, item);
                cpuItem.data.splice(0, 0, parseFloat(item.cpu));
                diskItem.data.splice(0, 0, parseFloat(item.disk));
                memoryItem.data.splice(0, 0, parseFloat(item.memory));
                xAxis.splice(0, 0, item.time);
            }
            let len = xAxis.length;
            if (len <= count) {
                let item = array[array.length - 1];
                if (!item) {
                    var myDate = new Date(); //实例一个时间对象；
                    item = {
                        hour: myDate.getHours(),
                        minute: myDate.getMinutes(),
                        second: myDate.getSeconds()
                    }
                }
                let hour = item.hour;
                let minute = item.minute;
                let second = item.second;
                for (let i = 0; i < count - len; i++) {
                    if (i !== 0) {
                        second += 30;
                        if (second >= 60) {
                            second = 0;
                            minute += 1;
                        }
                        if (minute === 60) {
                            minute = 0;
                            hour += 1;
                        }
                        if (hour === 24) {
                            hour = 0;
                        }
                    }
                    xAxis.push(getNextMinute(hour, minute, second));
                }
            }
            let series = [cpuItem, memoryItem, diskItem];
            loadEcharts(xAxis, series);
            layui.data('top_[[${node.id}]]', {
                key: 'top',
                value: array
            });
        }
    }

    //下半分钟 判断时间连续性
    function getNextMinute(hour, minute, second) {
        second += 30;
        if (second <= 30 && second > 0) {
            second = 30;
        } else if (second >= 60) {
            second = 0;
            minute += 1;
        } else {
            second = 30;
        }
        if (minute === 60) {
            hour += 1;
            minute = 0;
        }
        let hourStr = hour;
        let minuteStr = minute;
        let secondStr = second;
        if (hour === 24) {
            hour = 0;
        }
        if (hour < 10) {
            hourStr = "0" + hour;
        }
        if (minute < 10) {
            minuteStr = "0" + minute;
        }
        if (second < 10) {
            secondStr = "0" + second;
        }
        return hourStr + ":" + minuteStr + ":" + secondStr;
    }

    function loadProcessList() {
        silentAjax({
            url: './processList',
            success: function (data) {
                if (200 === data.code && data.data) {
                    config.data = data.data;
                    tableRender(config);
                } else if (data.msg && data.msg !== "") {
                    layer.msg(data.msg);
                }
            }
        });
    }

</script>

</html>