<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="zh">
<head>
    <th:block th:include="common/head::head"/>
    <style type="text/css">
        body {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            padding: 10px;
        }

        .echarts {
            margin: 20px auto;
            width: 97%;
            height: 400px;
        }

        .tool {
            right: 3%;
            position: absolute;
            z-index: 999;
        }

        .choose {
            color: #009688;
            border: 1px #009688 solid !important;
        }

        .range {
            padding: 5px;
            border: 1px #ffffff solid;
        }

    </style>
    <script th:src="@{${session.jpomProxyPath}+'/static/js/echarts.min.js?v='+${session.staticCacheTime}}"></script>
</head>

<body>
<div style="position: relative">
    <div class="tool">
        <span class="range choose" id="minuteData" title="查看30分钟内监控数据">30分钟</span>
        <span class="range" id="hourData" title="查看24小时内监控数据">24小时</span>
        <i class="layui-icon layui-icon-export" id="exportData" title="导出24小时内监控数据" style="font-size: 18px"></i>
    </div>
    <div class="echarts" id="echarts"></div>
</div>
<table class="layui-table" id="tab_monitor" lay-filter="tab_monitor" style="margin-top:10px"></table>
</body>
<script type="application/javascript">
    var myEcharts;
    var col = [{field: 'pid', title: '进程id', sort: true, width: '6%'},
        {field: 'command', title: '进程名称'},
        {field: 'port', title: '端口', sort: true, width: '6%'},
        {field: 'user', title: '所有者', width: '8%', sort: true},
        {field: 'jpomName', title: '项目名称', width: '8%', sort: true},
        {field: 'res', title: '物理内存', width: '8%', sort: true},
        {field: 'status', title: '进程状态', width: '8%', sort: true},
        {field: 'cpu', title: '占用CPU', width: '8%', sort: true},
        {field: 'mem', title: '物理内存', width: '8%', sort: true},
        {field: 'time', title: '时间总计', sort: true},
        {field: 'pr', title: '优先级', width: '6%', sort: true},
        // {field: 'NI', title: 'nice值', width: '6%', sort: true},
        {field: 'virt', title: '虚拟内存', width: '8%', sort: true},
        {field: 'shr', title: '共享内存', width: '8%', sort: true}];
    var config = {
        id: 'tab_monitor',
        elem: '#tab_monitor',
        cols: [col],
        done: function (data) {
        }
    };

    function loadSuccess() {
        loadTop();
        //加载进程信息
        loadProcessList();
        //
        tableRender(config);

        //12分钟
        $("#minuteData").on("click", function () {
            $("#hourData").removeClass("choose");
            $("#minuteData").addClass("choose");
            loadTop();
        });

        //24小时
        $("#hourData").on("click", function () {
            $("#minuteData").removeClass("choose");
            $("#hourData").addClass("choose");
            loadTop();
        });

        //导出
        $("#exportData").on("click", function () {
            var bool = $("#hourData").hasClass("choose");
            let type = 'minute';
            if (bool) {
                type = 'hour';
            }
            let nodeId = getTopQueryString("nodeId");
            self.location.href = './exportTop?nodeId=' + nodeId + '&type=' + type;
        });
    }

    function loadTop() {
        var bool = $("#hourData").hasClass("choose");
        let type = 'minute';
        if (bool) {
            type = 'hour';
        }
        silentAjax({
            url: './getTop',
            data: {
                type: type
            },
            success: function (data) {
                if (200 === data.code && data.data) {
                    loadEchartsData(data.data);
                }
            }
        });
    }

    function loadEchartsData(data) {
        let series = data.series;
        let cpuItem = {
            name: 'cpu占用',
            type: 'line',
            data: [0],
            showSymbol: false,
            //设置折线为曲线
            smooth: true
        };
        let diskItem = {
            name: '磁盘占用',
            type: 'line',
            data: [0],
            showSymbol: false,
            smooth: true
        };
        let memoryItem = {
            name: '内存占用',
            type: 'line',
            data: [0],
            showSymbol: false,
            smooth: true
        };
        for (let i = 0; i < series.length; i++) {
            let item = series[i];
            if (i === 0) {
                //删除默认0的数据
                cpuItem.data.splice(0, 1);
                diskItem.data.splice(0, 1);
                memoryItem.data.splice(0, 1);
            }
            cpuItem.data.push(parseFloat(item.cpu));
            diskItem.data.push(parseFloat(item.disk));
            memoryItem.data.push(parseFloat(item.memory));
        }
        let array = [cpuItem, memoryItem, diskItem];
        loadEcharts(data.scales, array);
    }

    //加载监控图
    function loadEcharts(xAxis, series) {
        if (!series) {
            return;
        }
        let option = {
            title: {
                text: '系统监控'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['cpu占用', '内存占用', '磁盘占用']
            },
            grid: {
                left: '1%',
                right: '2%',
                bottom: '1%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: xAxis
            },
            calculable: true,
            yAxis: {
                type: 'value',
                axisLabel: {
                    //设置y轴数值为%
                    formatter: '{value} %'
                },
                max: 100
            },
            series: series
        };
        if (!myEcharts) {
            myEcharts = echarts.init(document.getElementById('echarts'));
        }
        myEcharts.setOption(option);
    }

    function loadProcessList() {
        silentAjax({
            url: './processList',
            success: function (data) {
                if (200 === data.code && data.data) {
                    config.data = data.data;
                    tableRender(config);
                } else if (data.msg && data.msg !== "") {
                    layer.msg(data.msg);
                }
            }
        });
    }

</script>

</html>