<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>项目管理系统</title>
    <link rel="stylesheet" href="//cdn.90so.net/layui/2.4.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/manage/console.css" media="all">
</head>

<body>
<div class="console">
    <div class="layui-row"><!-- layui-elem-quote -->
        <a href="javascript:;" class="btn-op layui-btn  layui-btn-sm" op="start">启动</a>
        <a href="javascript:;" class="btn-op layui-btn  layui-btn-sm layui-btn-warm" op="restart">重启</a>
        <a href="javascript:;" class="btn-op layui-btn  layui-btn-sm layui-btn-danger" op="stop">停止</a>
        <div class="status">
            <div class="status-div"></div>
            <span></span>
        </div>
    </div>
    <div class="terminal"></div>
</div>
</body>
<script type="text/javascript" src="//cdn.90so.net/layui/2.4.3/layui.js"></script>
<script type="text/javascript" src="/static/js/manage/console.js"></script>
<script type="text/javascript">
    var projectInfo = $projectInfo;
    var userInfo = '$userInfo';
</script>
</html>