<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>项目管理系统</title>
    <style>
        .div-project {
            width: 100%;
            margin: 10px 0;
        }

        .div-project .layui-inline {
            width: calc(50% - 5px);
            margin-right: 0px;
        }
    </style>
</head>

<body>
<div class="layui-container div-project" id="div-project">
    <form action="saveProject" method="post" class="layui-form" id="form_project">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">项目名名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" placeholder="项目名称" required lay-verify="required"
                           class="layui-input" value="#if($item)#if($item.name)$!item.name#else$!item.id#end#end">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">分组名称</label>
                <div class="layui-input-block">
                    <input type="text" name="group" placeholder="项目分组名称" class="layui-input"
                           value="#if($item)$!item.group#end">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">项目ID</label>
                <div class="layui-input-block">
                    <input type="text" name="id" placeholder="程序运行标志（设置后将不能修改）" required lay-verify="required"
                           class="layui-input  #if($item)layui-disabled#end" value="#if($item)$!item.id#end"
                           #if($item)readonly#end>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">MainClass</label>
                <div class="layui-input-block">
                    <input type="text" name="mainClass" placeholder="程序运行的 main 类" required
                           lay-verify="required" class="layui-input" value="#if($item)$!item.mainClass#end">
                </div>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">项目路径</label>
                <div class="layui-input-block">

                    <select name="whitelistDirectory" lay-filter="projectLib">
                        #foreach($itemPath in $whitelistDirectory)
                            #if($item && $itemWhitelistDirectory.startsWith($itemPath))
                                <option value="$itemPath" selected>$itemPath</option>
                                #set($hasetPath=$itemPath)
                            #else
                                <option value="$itemPath">$itemPath</option>
                            #end
                        #end
                        #if(!$hasetPath)
                            <option value="/" selected>没有匹配项</option>
                        #end
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" title="$!item.log">项目Lib</label>
                <div class="layui-input-block">
                    <input type="text" name="lib" placeholder="程序在生产服务器环境中需要的jar路径" required lay-verify="required"
                           class="layui-input" value="#if($item)$!item.lib#end">
                </div>
            </div>
            <div class="layui-form-mid layui-word-aux" style="padding: 0 !important;">
                <div class="layui-input-block" style="color: red;min-height: 0px;">
                    结果：
                    <span id="projectStart">#if($hasetPath)$hasetPath#else 请选择#end</span>
                    <span id="projectEnd" style="margin-left: -4px">#if(!$item)请填写#else$!item.lib#end</span>
                    #if($item)
                        <span>&nbsp;&nbsp;日志路径：$!item.log</span>
                    #end
                </div>
                <div class="layui-input-block" id="tipMsgDiv" style="color: red;min-height: 0px;display: none">
                    提示：<span id="tipMsg"></span>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">运行方式</label>
                <div class="layui-input-block">
                    <select name="runMode">
                        #foreach($itemPath in $runModes)
                            <option value="$itemPath" #if($item.runMode==$itemPath)selected#end>$itemPath</option>
                        #end
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">Jvm参数</label>
                <div class="layui-input-block">
                    <input type="text" name="jvm" placeholder="jvm参数,非必填" class="layui-input"
                           value="#if($item)$!item.jvm#end">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">args</label>
                <div class="layui-input-block">
                    <input type="text" name="args" placeholder="Main函数 args参数,非必填" class="layui-input"
                           value="#if($item)$!item.args#end">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">WebHooks</label>
                <div class="layui-input-block">
                    <input type="text" name="token" placeholder="关闭程序时自动请求，没有请填写no" class="layui-input"
                           value="#if($item)$!item.token#end">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">Build标识</label>
                <div class="layui-input-block">
                    <input type="text" name="buildTag" placeholder="CodePipeline发布后oss中的文件标识,非必填" class="layui-input"
                           value="#if($item)$!item.buildTag#end">
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="padding-left: 20%">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="submitProject" id="project_submit">提交
            </button>
            #if($item)
                <a class="layui-btn layui-btn-warm" data-id="$item.id" id="delete_project">删除</a>
            ##                <a class="layui-btn layui-btn-primary" type="all" data-id="$item.id" id="delete_project_all">彻底删除</a>
            #end
        </div>
    </form>
</div>
</body>
<script type="text/javascript">
    function loadSuccess() {
        // 提交项目表单
        form.on('submit(submitProject)', function (data) {
            $.ajax({
                url: data.form.action,
                type: 'POST',
                dataType: 'json',
                data: data.field,
                beforeSend: function () {
                    layer.load(1, {
                        shade: [0.3, '#fff']
                    });
                },
                success: function (data) {
                    if (200 == data.code) {
                        autoClose();
                    } else {
                        layer.closeAll();
                    }
                    layer.msg(data.msg);
                },
                error: function (err) {
                    layer.closeAll();
                    layer.msg('操作失败！');
                }
            });
            return false;
        });

        form.on('select(projectLib)', function (data) {
            let val = data.value;
            if (val === "") {
                val = "请选择";
                $("#tipMsgDiv").hide();
            }
            $("#projectStart").text(val);
            checngeLib();
        });

        $("input[name='lib']").change(function (e) {
            let val = $(this).val();
            if (val === "") {
                val = "请填写";
                $("#tipMsgDiv").hide();
            }
            $("#projectEnd").text(val);
            checngeLib();
        });

        function checngeLib() {
            var lib = $("#projectStart").text() + $("#projectEnd").text();
            $.ajax({
                url: './judge_lib.json',
                type: 'POST',
                dataType: 'json',
                data: {
                    id: "#if($item)$!item.id#else#end",
                    newLib: lib
                },
                success: function (data) {
                    if (200 == data.code) {
                        $("#tipMsgDiv").hide();
                    } else {
                        $("#tipMsg").text(data.msg).parent().show();
                    }
                },
                error: function (err) {
                }
            });
        }

        $("#delete_project,#delete_project_all").click(function () {
            var id = $(this).attr("data-id");
            var type = $(this).attr("type");
            var msg;
            if ("all" == type) {
                msg = '确定彻底该删除项目 ' + id + ',删除将项目日志、lib都彻底删除？';
            } else {
                msg = '确定删除项目 ' + id + '？';
            }
            layer.confirm(msg, {
                title: '系统提示'
            }, function (index) {
                $.ajax({
                    url: './deleteProject',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        id: id,
                        type: type
                    },
                    beforeSend: function () {
                        layer.load(1, {
                            shade: [0.3, '#fff']
                        });
                    },
                    success: function (data) {
                        layer.close(index);
                        if (200 == data.code) {
                            autoClose();
                        } else {
                            layer.closeAll();
                        }
                        layer.msg(data.msg);
                    },
                    error: function (err) {
                        layer.closeAll();
                        layer.msg('删除失败！');
                    }
                });
            });
        });
    }

    function autoClose() {
        setTimeout(function () {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
            // 刷新项目列表
            parent.reloadTable();
        }, 2000);
    }
</script>
</html>