<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>项目管理系统</title>
    <style>
        .div-project {
            width: 100%;
            margin: 10px 0;
        }

        .div-project .layui-inline {
            width: calc(50% - 5px);
            margin-right: 0px;
        }
    </style>
</head>

<body>
<div class="layui-container div-project" id="div-project">
    <form action="saveProject" class="layui-form" id="form_project">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">项目名名称</label>
                <div class="layui-input-block">
                    <input type="text" name="name" placeholder="项目名称" required lay-verify="required"
                           class="layui-input" value="#if($item)#if($item.name)$!item.name#else$!item.id#end#end">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">分组名称</label>
                <div class="layui-input-block">
                    <input type="text" name="group" placeholder="项目分组名称" required lay-verify="required"
                           class="layui-input" value="#if($item)$!item.group#end">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">项目ID</label>
                <div class="layui-input-block">
                    <input type="text" name="id" placeholder="程序运行标志（设置后将不能修改）" required lay-verify="required"
                           class="layui-input  #if($item)layui-disabled#end" value="#if($item)$!item.id#end"
                           #if($item)readonly#end>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">MainClass</label>
                <div class="layui-input-block">
                    <input type="text" name="mainClass" placeholder="程序运行的 main 类" required
                           lay-verify="required" class="layui-input" value="#if($item)$!item.mainClass#end">
                </div>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">项目路径</label>
                <div class="layui-input-block">

                    <select name="whitelistDirectory" lay-filter="aihao">
                        #foreach($itemPath in $whitelistDirectory)
                            #if($item && $itemWhitelistDirectory.startsWith($itemPath))
                                <option value="$itemPath" selected>$itemPath</option>
                            #else
                                <option value="$itemPath">$itemPath</option>
                            #end
                        #end
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" title="$!item.log">项目Lib</label>
                <div class="layui-input-block">
                    <input type="text" name="lib" placeholder="程序在生产服务器环境中需要的jar路径" required lay-verify="required"
                           class="layui-input" value="#if($item)$!item.lib#end">
                </div>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">Jvm参数</label>
                <div class="layui-input-block">
                    <input type="text" name="jvm" placeholder="jvm参数" class="layui-input"
                           value="#if($item)$!item.jvm#end">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">args</label>
                <div class="layui-input-block">
                    <input type="text" name="args" placeholder="arg参数" class="layui-input"
                           value="#if($item)$!item.args#end">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">Token</label>
                <div class="layui-input-block">
                    <input type="text" name="token" placeholder="对应接口的token，没有请填写no" class="layui-input"
                           value="#if($item)$!item.token#end">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">Build标识</label>
                <div class="layui-input-block">
                    <input type="text" name="buildTag" placeholder="Build标识" class="layui-input"
                           value="#if($item)$!item.buildTag#end">
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="padding-left: 20%">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="submitProject" id="project_submit">提交
            </button>
            #if($item)
                <a class="layui-btn layui-btn-warm" data-id="$item.id" id="delete_project">删除
                </a>
            #end
        </div>
    </form>
</div>
</body>
<script type="text/javascript">
    function loadSuccess() {
        // 提交项目表单
        form.on('submit(submitProject)', function (data) {
            $.ajax({
                url: data.form.action,
                type: 'POST',
                dataType: 'json',
                data: data.field,
                success: function (data) {
                    layer.msg(data.msg);
                    if (200 == data.code) {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        // 刷新项目列表
                        parent.reloadTable();
                    }
                },
                error: function (err) {
                    layer.msg('操作失败！');
                }
            });
            return false;
        });

        // 表单验证
        form.verify({
            port: function (value, item) {
                if (!/^[0-9]{2,5}$/.test(value) || 80 > value || value > 65530) {
                    return 'Port请填写80-65530之间，避免占用系统进程端口！';
                }
            }
        });


        $("#delete_project").click(function () {
            var id = $(this).attr("data-id");
            layer.confirm('确定删除项目 ' + id + '？', {
                title: '系统提示'
            }, function (index) {
                layer.close(index);
                $.ajax({
                    url: './deleteProject',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        layer.msg(data.msg);
                        if (200 == data.code) {
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            // 刷新项目列表
                            parent.reloadTable();
                        }
                    },
                    error: function (err) {
                        layer.msg('删除失败！');
                    }
                });
            });
        });
    }
</script>
</html>