<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>项目管理系统</title>
    <style>
        body {
            padding: 10px 10px 0px 10px;
        }

        .div-uploadfiles {
            display: none;
            width: 100%;
            margin: 10px 0;
        }

        .div-uploadfiles .layui-inline {
            width: calc(50% - 5px);
            margin-right: 0px;
        }
    </style>
</head>

<body>
<div class="layui-row">
    <button id="uploadFile" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe67c;</i>批量上传</button>
    <button id="uploadFile_Import" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe67c;</i>覆盖导入</button>
    <button id="refresh" class="layui-btn layui-btn-sm">刷新</button>
    <button id="clear" class="layui-btn layui-btn-sm layui-btn-danger">清空文件</button>
</div>
<table class="layui-table" id="tab_file" lay-filter="tab_file" style="margin: 0;"></table>
</body>
##	删除按钮
<script type="text/html" id="bar_projects">
    <a href="javascript:;" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">删除</a>
    <a href="javascript:;" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="download">下载</a>
</script>
<script type="text/javascript">
    // var id = '';
    function loadSuccess() {
        layui.use(['upload'], function () {
            var upload = layui.upload;
            table.render({
                id: 'table_file',
                elem: '#tab_file',
                url: '/file/getFileList',
                method: 'post',
                // height: 'full',
                even: true,
                where: {
                    id: '$id'
                },
                cols: [[
                    {field: 'index', title: '编号', width: '10%'},
                    {
                        field: 'filename', title: '文件名称', sort: true, width: '30%', templet: function (d) {
                            if (d.isDirectory) {
                                return d.filename + '【文件夹】';
                            }
                            return d.filename;
                        }
                    },
                    {field: 'modifytime', title: '修改时间', sort: true, width: '15%'},
                    {field: 'filesize', title: '文件大小', sort: true, width: '15%'},
                    {field: 'op', title: '操作', toolbar: '#bar_projects'}
                ]],
                loading: true,
                response: {
                    statusCode: 200
                },
                done: function () {
                    $("tbody").on("mouseover", "tr", function () {
                        $(this).siblings().css("opacity", 0.3);
                    });
                    $("tbody").on("mouseout", "tr", function () {
                        $(this).siblings().css("opacity", 1);
                    });
                }
            });
            var updateFail = false;
            upload.render({
                elem: '#uploadFile',
                accept: 'file',
                data: {
                    id: '$id'
                },
                multiple: true,
                url: '/file/upload',
                before: function () {
                    layer.load(1, {
                        shade: [0.5, '#fff'] //0.1透明度的白色背景
                    });
                    updateFail = false;
                },
                allDone: function (obj) {
                    setTimeout(function () {
                        layer.closeAll();
                    }, 1000);
                    if (updateFail) {
                        return;
                    }
                    layer.msg("文件总数：" + obj.total + " 成功上传：" + obj.successful + " 上传失败：" + obj.aborted);
                    setTimeout(function () {
                        table.reload('table_file', {});
                    }, 2000);
                },
                done: function (res, index, upload) {
                    if (res.code != 200) {
                        layer.msg(res.msg);
                    }
                    // 没有权限
                    if (res.code == 302) {
                        updateFail = true;
                    }
                },
                error: function () {
                    layer.msg('上传失败');
                }
            });

            upload.render({
                elem: '#uploadFile_Import',
                accept: 'file',
                data: {
                    id: '$id',
                    type: "unzip"
                },
                multiple: false,
                exts: 'zip',
                acceptMime: '.zip',
                url: '/file/upload',
                before: function () {
                    layer.load(1, {
                        shade: [0.5, '#fff'] //0.1透明度的白色背景
                    });
                },
                done: function (res, index, upload) {
                    layer.msg(res.msg);
                    setTimeout(function () {
                        table.reload('table_file', {});
                        layer.closeAll();
                    }, 2000);
                },
                error: function () {
                    layer.msg('上传失败');
                    layer.closeAll();
                }
            });

            // 点击'上传文件'事件
            $('#refresh').on('click', function () {
                table.reload('table_file', {
                    // height: 'full-52'
                });
            });

            // 点击'上传文件'事件
            $('#clear').on('click', function () {
                layer.confirm('确定清空此项目文件吗？', {
                    title: '系统提示'
                }, function (index) {
                    layer.close(index);
                    loadingAjax({
                        url: '/file/clear',
                        data: {
                            id: '$id'
                        },
                        success: function (data) {
                            layer.msg(data.msg);
                            if (200 === data.code) {
                                // 刷新项目列表
                                table.reload('table_file', {});
                            }
                        }
                    });
                });
            });


            // 表格工具条事件
            table.on('tool(tab_file)', function (obj) {
                var data = obj.data;
                var event = obj.event;
                if ('delete' === event) {
                    // 删除文件
                    deleteFile(data);
                }
                if ('download' === event) {
                    // 下载文件
                    downloadFile(data);
                }
            });

            //下载文件
            function downloadFile(data) {
                var url = "/file/download?id=$id&filename=" + encodeURI(data.filename);
                self.location.href = url;
            }

            // 删除文件
            function deleteFile(data) {
                layer.confirm('确定删除文件 ' + data.filename + '？', {
                    title: '系统提示'
                }, function (index) {
                    layer.close(index);
                    loadingAjax({
                        url: '/file/deleteFile',
                        data: {
                            id: '$id',
                            filename: data.filename
                        },
                        success: function (data) {
                            layer.msg(data.msg);
                            if (200 === data.code) {
                                // 刷新项目列表
                                table.reload('table_file', {});
                            }
                        }
                    });
                });
            }
        });
    }
</script>
</html>