<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>logBack</title>
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>

<body>
<div class="layui-form">
    <table class="layui-table">
        <thead>
        <tr>
            <th>序号</th>
            <th>文件名</th>
            <th>修改时间</th>
            <th>文件大小</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
            #foreach($item in $array)
            <tr>
                <td>$item.index</td>
                <td>$item.filename</td>
                <td>$item.modifytime</td>
                <td>$item.filesize</td>
                <td>
                    <button name="delete" data-name="$item.filename" data-id="$id"
                            class="layui-btn layui-btn-danger layui-btn-sm">删除
                    </button>
                    <a name="download" href="logBack_download?key=$item.filename&id=$id"
                       class="layui-btn layui-btn-warm layui-btn-sm">下载
                    </a>
                </td>
            </tr>
            #end
            #if(!$array)
            <tr>
                <td colspan="4">没有相关信息</td>
            </tr>
            #end
        </tbody>
    </table>
</div>
</body>
<script type="text/javascript">
    function loadSuccess() {
        $("button[name='delete']").click(function () {
            var that = $(this);
            var name = that.attr("data-name");
            layer.confirm('您确定要删除【' + name + '】？', {
                btn: ['确定', '不确定'] //按钮
            }, function (index) {
                layer.close(index);
                index = layer.load(1, {
                    shade: [0.5, '#fff'] //0.1透明度的白色背景
                });
                // var key = that.attr("data-key");
                var id = that.attr("data-id");
                $.ajax({
                    url: './logBack_delete',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        id: id,
                        name: name
                    },
                    success: function (data) {
                        layer.msg(data.msg);
                        if (200 == data.code) {
                            setTimeout(function () {
                                window.location.reload();
                            }, 2000);
                        }
                    },
                    error: function (err) {
                        layer.msg('删除失败');
                    },
                    complete: function () {
                        layer.close(index);
                    }
                });
            }, function () {

            });

        });
    }
</script>
</html>