##<!DOCTYPE html>
##<html>
##
##<head>
##    #parse("./common/head.vm")
##    <title>项目管理系统</title>
##    <style>
##        body {
##            padding: 20px;
##        }
##
##    </style>
##</head>
##
##<body>
####<div>
####    <pre>#if($!port)$!port #else“暂无数据”  #end </pre>
####</div>
##<table class="layui-table">
##    <thead>
##    <tr>
##        <th>连接协议</th>
##        <th>接收队列</th>
##        <th>发送队列</th>
##        <th>本地地址</th>
##        <th>远程地址</th>
##        <th>状态</th>
##        <th>进程id/项目名称</th>
##    </tr>
##    </thead>
##    <tbody>
##        #if($port)
##            #foreach($item in $!port)
##            <tr>
##                <td>$!item.protocol</td>
##                <td>$!item.receive</td>
##                <td>$!item.send</td>
##                <td>$!item.local</td>
##                <td>$!item.foreign</td>
##                <td>$!item.status</td>
##                <td>$!item.name</td>
##            </tr>
##            #end
##        #else
##        <tr>
##            <td colspan=7 style="text-align:center">无数据</td>
##        </tr>
##        #end
##    </tbody>
##</table>
##
##</body>
##</html>