<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>项目管理系统</title>
    <style>
        body {
            padding: 20px;
        }

    </style>
</head>

<body>
<div>
    <pre>#if($!port)$!port #else“暂无数据”  #end </pre>
</div>

</body>
</html>