<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>项目管理系统</title>
    <link rel="stylesheet" href="/static/css/manage/projectInfo.css" media="all">
</head>

<body>
<div class="layui-row">
    <button id="addProject" class="layui-btn layui-btn-sm">新增项目</button>
    <button id="refresh" class="layui-btn layui-btn-sm">刷新表格</button>
    <button id="updateRunBoot" class="layui-btn layui-btn-sm">修改启动文件</button>
</div>
<table class="layui-table" id="tab_project" lay-filter="tab_project" style="margin: 0;"></table>
<div class="layui-container div-project" id="div-project">
    <form action="" class="layui-form" id="form_project">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">项目名称</label>
                <div class="layui-input-block">
                    <input type="text" name="id" placeholder="项目名称（设置后将不能修改）" required lay-verify="required"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">Tag</label>
                <div class="layui-input-block">
                    <input type="text" name="tag" placeholder="程序运行标志" required lay-verify="required"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">MainClass</label>
                <div class="layui-input-block">
                    <input type="text" name="mainClass" placeholder="程序运行的SpringBoot main 类" required
                           lay-verify="required" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">Lib</label>
                <div class="layui-input-block">
                    <input type="text" name="lib" placeholder="程序在生产服务器环境中需要的jar路径" required lay-verify="required"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">Log</label>
                <div class="layui-input-block">
                    <input type="text" name="log" placeholder="记录程序运行所有日志保存路径" required lay-verify="required"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">args</label>
                <div class="layui-input-block">
                    <input type="text" name="args" placeholder="arg参数" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">Token</label>
                <div class="layui-input-block">
                    <input type="text" name="token" placeholder="对应接口的token，可不填" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">Jvm参数</label>
                <div class="layui-input-block">
                    <input type="text" name="jvm" placeholder="jvm参数" class="layui-input">
                </div>
            </div>
        </div>
        <input type="hidden" lay-submit lay-filter="submitProject" id="project_submit">
    </form>
</div>

<div class="div-runboot" id="div-runboot">
    <form action="" class="layui-form" id="form_runboot">
        <textarea id="ta_runboot" name="content"></textarea>
        <input type="hidden" lay-submit lay-filter="submitRunBoot" id="runboot_submit">
    </form>
</div>
</body>

<script type="text/html" id="bar_projects">
    <a href="javascript:;" class="layui-btn  layui-btn-sm layui-btn-normal" lay-event="manage">管理</a>
    <a href="javascript:;" class="layui-btn  layui-btn-sm layui-btn-warm" lay-event="update">配置</a>
    <a href="javascript:;" class="layui-btn  layui-btn-sm layui-btn" lay-event="file">文件</a>
    <a href="javascript:;" class="layui-btn  layui-btn-sm layui-btn-danger" lay-event="delete">删除</a>
</script>
<script type="text/javascript">
    layui.use(['layer', 'element', 'table', 'form'], function () {
        var $ = layui.$;
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;

        table.render({
            id: 'table_project',
            elem: '#tab_project',
            url: '/manage/getProjectInfo',
            height: 'full-52',
            even: true,
            cols: [[
                {field: 'id', title: '项目名称'},
                {field: 'lib', title: 'Lib'},
                {field: 'createTime', title: '创建时间'},
                {field: 'modifyTime', title: '修改时间'},
                {field: 'op', title: '操作', align: 'center', toolbar: '#bar_projects', fixed: 'right'}
            ]],
            loading: true,
            response: {
                statusCode: 200
            }
        });

        // '添加项目'点击事件
        $('#addProject').on('click', function () {
            // 重置表单
            document.getElementById('form_project').reset();
            $('#form_project [name="id"]').attr('readonly', false).removeClass('layui-disabled');
            // 弹出
            layer.open({
                type: 1,
                title: '新增项目',
                content: $('#div-project'),
                area: ['80%', '80%'],
                btnAlign: 'c',
                btn: ['提交'],
                yes: function (index, layero) {
                    $('#form_project').attr('action', '/manage/addProject');
                    $('#project_submit').click();
                }
            });
        });

        // '刷新表格'点击事件
        $('#refresh').on('click', function () {
            table.reload('table_project', {height: 'full-52'});
        });

        // '修改启动文件'点击事件
        $('#updateRunBoot').on('click', function () {
            $.ajax({
                url: '/file/getRunBoot',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    if (200 == data.code) {
                        $('#ta_runboot').val(data.data.content);
                        layer.open({
                            type: 1,
                            title: '修改启动文件',
                            content: $('#div-runboot'),
                            area: ['80%', '80%'],
                            btnAlign: 'c',
                            btn: ['提交'],
                            yes: function (index, layero) {
                                $('#form_runboot').attr('action', '/file/saveRunBoot');
                                $('#runboot_submit').click();
                            }
                        });
                    } else {
                        layer.msg('启动文件不存在');
                    }
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });

        // 提交项目表单
        form.on('submit(submitProject)', function (data) {
            $.ajax({
                url: data.form.action,
                type: 'POST',
                dataType: 'json',
                data: data.field,
                success: function (data) {
                    if (200 == data.code) {
                        layer.closeAll('page');

                        // 刷新项目列表
                        table.reload('table_project', {height: 'full-52'});
                    } else {
                        layer.msg(data.msg);
                    }
                },
                error: function (err) {
                    layer.msg('操作失败！');
                }
            });
            return false;
        });

        // 提交启动文件表单
        form.on('submit(submitRunBoot)', function (data) {
            $.ajax({
                url: data.form.action,
                type: 'POST',
                dataType: 'json',
                data: data.field,
                success: function (data) {
                    if (200 == data.code) {
                        layer.closeAll('page');

                        layer.msg('修改成功！');
                    } else {
                        layer.msg('修改失败！');
                    }
                },
                error: function (err) {
                    layer.msg('操作失败！');
                }
            });
            return false;
        });

        // 表单验证
        form.verify({
            port: function (value, item) {
                if (!/^[0-9]{2,5}$/.test(value) || 80 > value || value > 65530) {
                    return 'Port请填写80-65530之间，避免占用系统进程端口！';
                }
            }
        });


        // 表格工具条事件
        table.on('tool(tab_project)', function (obj) {
            var data = obj.data;
            var event = obj.event;

            if ('update' === event) {
                // 配置
                updateApplication(data);
            } else if ('delete' === event) {
                // 删除
                deleteApplication(data);
            } else if ('manage' === event) {
                // 管理
                manageApplication(data);
            } else if ('file' === event) {
                fileManage(data);
            }
        });

        // 文件管理
        function fileManage(data) {
            var lay_id = 'tab_file_' + data.id;
            var url = '/file/filemanage?id=' + data.id;

            // 如果存在选项卡，切换，否则创建
            if (top.layui.$('[lay-id="tab_file_' + data.id + '"]').length > 0) {

                top.layui.element.tabChange('mainTabs', lay_id);
            } else {

                // 创建
                var tab_content = '<iframe src="' + url + '" frameborder="0" class="custom-iframe"></iframe>';
                top.layui.element.tabAdd('mainTabs', {
                    title: data.id + ' - 文件',
                    content: tab_content,
                    id: lay_id
                });

                // 创建完后切换
                top.layui.element.tabChange('mainTabs', lay_id);
            }
        }

        // 管理
        function manageApplication(data) {

            var lay_id = 'tab_' + data.id;
            var url = '/manage/console?id=' + data.id;

            // 如果存在选项卡，切换，否则创建
            if (top.layui.$('[lay-id="tab_' + data.id + '"]').length > 0) {

                top.layui.element.tabChange('mainTabs', lay_id);
            } else {

                // 创建
                var tab_content = '<iframe src="' + url + '" frameborder="0" class="custom-iframe"></iframe>';
                top.layui.element.tabAdd('mainTabs', {
                    title: data.id + ' - 管理',
                    content: tab_content,
                    id: lay_id
                });

                // 创建完后切换
                top.layui.element.tabChange('mainTabs', lay_id);
            }
        }

        // 配置项目
        function updateApplication(data) {
            // 重置表单
            document.getElementById('form_project').reset();
            $('#form_project [name="id"]').attr('readonly', true).addClass('layui-disabled');

            // 设置表单值
            for (var key in data) {
                $('#form_project [name="' + key + '"]').val(data[key]);
            }

            // 弹出
            layer.open({
                type: 1,
                title: '配置项目',
                content: $('#div-project'),
                area: ['80%', '80%'],
                btnAlign: 'c',
                btn: ['提交'],
                yes: function (index, layero) {
                    $('#form_project').attr('action', '/manage/updateProject');
                    $('#project_submit').click();
                }
            });
        }

        // 删除项目
        function deleteApplication(data) {
            layer.confirm('确定删除项目 ' + data.id + '？', {title: '系统提示'}, function (index) {
                layer.close(index);
                $.ajax({
                    url: '/manage/deleteProject',
                    type: 'POST',
                    dataType: 'json',
                    data: {id: data.id},
                    success: function (data) {
                        if (200 == data.code) {
                            layer.msg('删除成功！');
                            // 刷新项目列表
                            table.reload('table_project', {height: 'full-52'});
                        } else {
                            layer.msg(data.msg);
                        }
                    },
                    error: function (err) {
                        layer.msg('删除失败！');
                    }
                });
            });
        }
    });
</script>
</html>