<!DOCTYPE html>
<html>

<head>
    #parse("./common/head.vm")
    <title>白名单目录</title>
    <style>
        body {
            padding: 10px;
        }

        .edit-div {
            width: 80%;
            height: 25vh;
        }
    </style>
</head>

<body>
<div class="layui-container">
    <form action="" class="layui-form" id="form_user">
        <div class="layui-form-item">
            <div class="layui-inline edit-div">
                <label class="layui-form-label">项目路径</label>
                <div class="layui-input-block auto">
                    <textarea name="project" placeholder="请输入项目存放路径白名单，回车支持输入多个路径，系统会自动过滤 ../ 路径、不允许输入根路径"
                              class="layui-textarea auto">$!project</textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline edit-div">
                <label class="layui-form-label">证书路径</label>
                <div class="layui-input-block auto">
                    <textarea name="certificate" placeholder="请输入证书存放路径白名单，回车支持输入多个路径，系统会自动过滤 ../ 路径、不允许输入根路径"
                              class="layui-textarea auto">$!certificate</textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline edit-div">
                <label class="layui-form-label">nginx目录</label>
                <div class="layui-input-block auto">
                    <textarea name="nginx" placeholder="请输入nginx存放路径白名单，回车支持输入多个路径，系统会自动过滤 ../ 路径、不允许输入根路径"
                              class="layui-textarea auto">$!nginx</textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            </div>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">
    function loadSuccess() {
        form.on('submit(formDemo)', function (data) {
            loadingAjax({
                url: './whitelistDirectory_submit',
                data: data.field,
                success: function (data) {
                    layer.msg(data.msg);
                    if (200 == data.code) {
                        setTimeout(function () {
                            window.location.reload()
                        }, 2000);
                    }
                }
            });
            return false;
        });
    }
</script>

</html>