<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" name="viewport">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>Welcome</title>
		<link rel="stylesheet" href="/static/js/plugins/layui/css/layui.css" media="all">
	</head>

	<body class="layui-layout-body">
		<div class="layui-container">
			欢迎页
		</div>
	</body>
	<script type="text/javascript" src="/static/js/plugins/layui/layui.js"></script>
	<script>
		layui.use(['layer', 'element'], function() {
			var element = layui.element;
			var layer = layui.layer;
		});
	</script>

</html>