/* 全局样式，重置样式 */
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.ant-drawer-body {
  padding: 10px;
}

.ant-table-wrapper {
  overflow-y: auto;
  overflow-x: auto;
}

.ant-table-body {
  overflow-x: auto !important;
}

.search-input-item {
  width: 140px;
  /* margin-right: 10px; */
}

.filter {
  margin-bottom: 10px;
}
/* 
.ant-btn {
  margin-right: 10px;
} */

.ant-btn-sm {
  font-size: 12px;
}

pre {
  margin: 0;
}
