
/* 全局样式，重置样式 */
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.ant-drawer-body {
  padding: 10px;
}

.ant-table-wrapper {
  overflow-y: auto;
  overflow-x: auto;
}

.ant-table-body {
  overflow-x: auto !important;
}