<?xml version="1.0" encoding="UTF-8"?>
<!--

    The MIT License (MIT)

    Copyright (c) 2019 Code Technology Studio

    Permission is hereby granted, free of charge, to any person obtaining a copy of
    this software and associated documentation files (the "Software"), to deal in
    the Software without restriction, including without limitation the rights to
    use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
    the Software, and to permit persons to whom the Software is furnished to do so,
    subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
    FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
    COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
    IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
    CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

-->
<configuration debug="false">
    <!--动态定义日志路径-->
    <define name="logPath" class="io.jpom.system.WebAopLog"/>

    <appender name="consoleInfo" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[%date %level [%thread] %logger{10} [%file:%line]- x:\(%X\) %msg %n]]></pattern>
        </layout>
    </appender>

    <appender name="consoleError" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[%date %level [%thread] %logger{10} [%file:%line]- x:\(%X\) %msg %n]]></pattern>
        </layout>
    </appender>

    <appender name="consoleWarn" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>warn</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[%date %level [%thread] %logger{10} [%file:%line]- x:\(%X\) %msg%n]]></pattern>
        </layout>
    </appender>

    <appender name="consoleDebug" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[%date %level [%thread] %logger{10} [%file:%line]- x:\(%X\) %msg %n]]></pattern>
        </layout>
    </appender>

    <appender name="errorFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logPath}/error/systemError.log</File>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger - %msg%n</pattern>
        </encoder>
        <!-- 每天一归档 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/error/systemError-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 单个日志文件最多 100MB, 30天的日志周期，最大不能超过10GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="infoFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logPath}/info.log</File>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger - %msg%n</pattern>
        </encoder>
        <!-- 每天一归档 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 单个日志文件最多 100MB, 30天的日志周期，最大不能超过10GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="warnFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${logPath}/warn.log</File>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>warn</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger - %msg%n</pattern>
        </encoder>
        <!-- 每天一归档 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/warn-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 单个日志文件最多 100MB, 30天的日志周期，最大不能超过10GB -->
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <springProfile name="dev">
        <root level="debug">
            <appender-ref ref="errorFileAppender"/>
            <appender-ref ref="infoFileAppender"/>
            <appender-ref ref="warnFileAppender"/>
            <appender-ref ref="consoleInfo"/>
            <appender-ref ref="consoleError"/>
            <appender-ref ref="consoleWarn"/>
        </root>
        <logger name="io.jpom" level="debug" additivity="true">
            <appender-ref ref="consoleDebug"/>
        </logger>
        <logger name="cn.jiangzeyin" level="debug" additivity="true">
            <appender-ref ref="consoleDebug"/>
        </logger>
		<logger name="cn.hutool.db.sql" level="debug" additivity="true">
			<appender-ref ref="consoleDebug"/>
		</logger>
    </springProfile>

	<springProfile name="local">
		<root level="debug">
			<appender-ref ref="errorFileAppender"/>
			<appender-ref ref="infoFileAppender"/>
			<appender-ref ref="warnFileAppender"/>
			<appender-ref ref="consoleInfo"/>
			<appender-ref ref="consoleError"/>
			<appender-ref ref="consoleWarn"/>
		</root>
		<logger name="io.jpom" level="debug" additivity="true">
			<appender-ref ref="consoleDebug"/>
		</logger>
		<logger name="cn.jiangzeyin" level="debug" additivity="true">
			<appender-ref ref="consoleDebug"/>
		</logger>
		<logger name="cn.hutool.db.sql" level="debug" additivity="true">
			<appender-ref ref="consoleDebug"/>
		</logger>
	</springProfile>

    <springProfile name="pro">
        <root level="INFO">
            <appender-ref ref="errorFileAppender"/>
            <appender-ref ref="warnFileAppender"/>
            <appender-ref ref="consoleWarn"/>
            <appender-ref ref="consoleError"/>
            <!--            <appender-ref ref="consoleInfo"/>-->
        </root>
    </springProfile>
</configuration>
